@font-face {
	font-family: 'europeana';
	/*
	src: url('/portal/themes/default/images/europeana-font-files/europeana.eot?#') format('eot'),
		url('/portal/themes/default/images/europeana-font-files/europeana.svg#europeana') format('svg'),
		url('/portal/themes/default/images/europeana-font-files/europeana.woff') format('woff'),
		url('/portal/themes/default/images/europeana-font-files/europeana.ttf') format('truetype');
	*/
	
	src: url('/portal/themes/default/images/europeana-font-files/europeana.eot');
	src: url('/portal/themes/default/images/europeana-font-files/europeana.eot?#iefix') format('embedded-opentype'),
		url('/portal/themes/default/images/europeana-font-files/europeana.woff') format('woff'),
		url('/portal/themes/default/images/europeana-font-files/europeana.ttf') format('truetype'),
		url('/portal/themes/default/images/europeana-font-files/europeana.svg#europeana') format('svg');
		
		
		
	font-weight: normal;
	font-style: normal;
	color:red !important;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'europeana';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'europeana';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}


/* modified to use :after */

[data-icon]:after {
	font-family: 'europeana';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
			
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:after,
[class*=" icon-"]:after {
	font-family: 'europeana';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}


.icon-logo:before {
	content: "\61";
}
.icon-pinterest:before {
	content: "\63";
}
.icon-arrow:before {
	content: "\64";
}
.icon-arrow-2:before {
	content: "\65";
}

.icon-arrow-2-after:after {
	content: "\65";
}


.icon-arrow-3:before {
	content: "\66";
}
.icon-arrow-4:before {
	content: "\67";
}
.icon-arrow-5:before {
	content: "\68";
}
.icon-arrow-6:before {
	content: "\69";
}


/* modified to use :after */
.icon-arrow-6-right:after {
	content: "\69";
}

.icon-arrow-7:before {
	content: "\6a";
}

.icon-arrow-7-right:after {
	content: "\6a";
}


.icon-arrow-8:before {
	content: "\6b";
}
.icon-plus:before {
	content: "\6c";
}
.icon-minus:before {
	content: "\6d";
}
.icon-by:before {
	content: "\6e";
}
.icon-cc:before {
	content: "\6f";
}
.icon-nc:before {
	content: "\70";
}
.icon-nceu:before {
	content: "\71";
}
.icon-nd:before {
	content: "\72";
}
.icon-pd:before {
	content: "\73";
}
.icon-sa:before {
	content: "\74";
}
.icon-cczero:before {
	content: "\75";
}
.icon-publicdomain:before {
	content: "\76";
}
.icon-unknown:before {
	content: "\77";
}
.icon-copyright:before {
	content: "\78";
}

.icon-google:before {
	content: "\33";
}

.icon-rss:before {
	content: "\34";
}
.icon-share:before {
	content: "\35";
	cursor: pointer;
}
.icon-twitter:before {
	content: "\36";
}
.icon-facebook:before {
	content: "\37";
}
.icon-pinterest-2:before {
	content: "\38";
}
.icon-mag:before {
	content: "\39";
}
.icon-magmin:before {
	content: "\30";
}
.icon-magplus:before {
	content: "\41";
}
.icon-fullscreen:before {
	content: "\42";
}
.icon-scaleup:before {
	content: "\43";
}
.icon-scaledown:before {
	content: "\44";
}
.icon-creator:before {
	content: "\45";
}
.icon-saveditem:before {
	content: "\46";
}
.icon-unsaveditem:before {
	content: "\47";
}
.icon-mail:before {
	content: "\48";
}
.icon-print:before {
	content: "\49";
}
.icon-tag:before {
	content: "\4a";
}
.icon-embed:before {
	content: "\4b";
}
.icon-ugc:before {
	content: "\4c";
}
.icon-timeline:before {
	content: "\4d";
}
.icon-map:before {
	content: "\4e";
}
.icon-grid:before {
	content: "\4f";
}
.icon-external:before {
	content: "\50";
}

/* modified to use after */
.icon-external-right:after{
	content:		"\50";
	margin-left:	0.4em;
}

.icon-download:before {
	content: "\51";
}
.icon-layers:before {
	content: "\52";
}
.icon-home:before {
	content: "\53";
}
.icon-remove:before {
	content: "\54";
}
.icon-alert:before {
	content: "\55";
}
.icon-info:before {
	content: "\56";
}
.icon-mobilemenu:before {
	content: "\57";
}
.icon-no:before {
	content: "\58";
}
.icon-yes:before {
	content: "\59";
}
.icon-mapitem:before {
	content: "\5a";
}
.icon-mappin:before {
	content: "\23";
}
.icon-rew:before {
	content: "\40";
}
.icon-ff:before {
	content: "\24";
}
.icon-stop:before {
	content: "\25";
}
.icon-pause:before {
	content: "\26";
}
.icon-play:before {
	content: "\5e";
}
.icon-soundon:before {
	content: "\27";
}
.icon-soundoff:before {
	content: "\2a";
}
.icon-video:before {
	content: "\28";
}
.icon-text:before {
	content: "\29";
}
.icon-image:before {
	content: "\5b";
}
.icon-audio:before {
	content: "\5d";
}
.icon-sound:before {
	content: "\5d";
}
.icon-3d:before {
	content: "\7b";
}
.icon-cite:before {
	content: "\7d";
}
.icon-hierarchy:before {
	content: "\3c";
}
.icon-multiple:before {
	content: "\3e";
}
.icon-translate:before {
	content: "\3f";
}
.icon-return:before {
	content: "\2f";
}
.icon-power:before {
	content: "\2c";
}
.icon-euflag:before {
	content: "\2b";
}

.icon-lockicon:before {
	content: "\31";
}
.icon-euroicon:before {
	content: "\32";
}


/* rights icons all have different image borders - corrective css margins added here */

.icon-cczero{
	position:relative;
	top:     -0.0625em;
}


.icon-publicdomain{
	position:relative;
	top:     -0.0625em;
	top:     -0.056em;
}

.icon-copyright{
	position: relative;
	top:      -0.0625em;
	top:     -0.056em;
}

.icon-unknown{
	position:relative;
	top:     -0.0625em;
	top:     -0.056em;
}


#content-main .icon-publicdomain{
	top:     -0.05505em;
}


/*
span.rights-icon.icon-copyright{
	margin-top:	.07em;
}

span.rights-icon.icon-pd{
	margin-top:	.22em;
}

span.rights-icon.icon-cczero{
	margin-top:	.18em;
}

span.rights-icon.icon-cc, span.rights-icon.icon-by, span.rights-icon.icon-sa, span.rights-icon.icon-nc, span.rights-icon.icon-nceu, span.rights-icon.icon-nd{
	margin-top:	.215em;
}

span.rights-icon.icon-unknown{
	margin-top:	.07em;
}
*/








