/* html */

html{
	font-size:		100%;
	z-index:		1;
}

body {
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	color: #333;
	background-color: #fff;
}

form{
	margin:0;
	padding:0;
}


/* Basic fonts */

body{
	font-size:	1.2em;
}

@media only screen and ( min-width:48em ){
	body{
		font-size:	1.125em;
	}
}


@media only screen and ( min-width:71em ){
	body{
		font-size:	1.063em;
	}
}

/* End basic fonts */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #111;
}


img { border: none; }

input[type="submit"]{
	cursor:	pointer;
}

select, input {
	font-size: 1.2em;
}

input[type=checkbox] {
	vertical-align: text-bottom;
}

input[type=text],
input[type=password] {
	padding: 1% 2%;
}

/* links */
a { text-decoration: none; color: #2A85E8; outline: 0; }
a:visited { color: #2A85E8; }
a:not(.social-link):hover: { color: #ff00c2; }


iframe {
	border: none;
	overflow: hidden;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
