/** GLOBAL **/
.footer{
	
	padding-top:		1.1em	!important;
	padding-bottom:		1.1em	!important;

}


.footer{
	background-image:	none;
	border-top:			1px solid #e4e4e4;
	border-bottom:		1px solid #e4e4e4;
}


/*
@media all and (-webkit-min-device-pixel-ratio: 2) {
	.footer{
		background-image:	url('/portal/themes/default/images/dust.png');
	}
}
*/

.footer h3 a{
	color:	#333;
}

.footer-wrapper{
	margin-left:	0;
	margin-right:	0;
}

@media only screen and ( min-width:48em ){
	
	.footer{
		background-image:	url('/portal/themes/default/images/dust.png');
		border:				none;
	}
	
	.footer-wrapper{
		margin-left:	1em;
		margin-right:	1em;
		padding-bottom:	1em;
	}
	
}


ul.menu, ul.menu ul{
	margin-left:			0;
	padding-left:			0;
}
	
ul.menu li, ul.menu, ul.menu ul{
	list-style-type:		none;
	list-style-position:	outside;
}
	
ul.menu a{
	text-decoration:		none;
	color:					inherit;
}


ul.menu{							/* centering */
	width:				100%;
}

ul.menu li, ul.menu ul{
	font-size:		0.9em;
}

ul.menu>li{
	width:			100%;
	float:			left;
	margin-bottom:	0.5em;
	margin-top:		0.5em;
}
	
ul.menu>li>a{
	display:		block;
	margin-bottom:	0.3em;		
}
	
ul.menu{
	width:			100%;
	padding-top:	0;
	padding-bottom:	0;
	font-size:		1.6em;
}



/* iPads (portrait and landscape) */
@media all and (min-width:27.625em) and (max-width:61.1875em) {

	ul.menu {
		font-size:	1.8em;
	}

	ul.menu > li{
		width:	50%;
	}
}

/* Desktops and laptops  */
@media all and (min-width:61.25em) and (max-width:76.5em) {

	ul.menu {
		font-size:	1.2em;
	}

	ul.menu > li{
		width:	25%;
	}

}



/* large screens */
@media all and (min-width:1225px)  and (max-width:2000px) {

	ul.menu {
		font-size:	1.5em;
	}
	
	ul.menu > li{
		width:	25%;
	}

}



       