#myeuropeana ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#myeuropeana label {
	display: block;
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

#myeuropeana h2 {
	margin: .5em 0;
}

#myeuropeana h3:not(:first-child) {
	margin-top: 1em;
}

#myeuropeana ul li {
	margin-bottom: .5em;
}

#translate-keyword-languages {
	overflow: auto;
}

#translate-keyword-languages label {
	margin-bottom: .5em;
}

.disabled {
	color: #ccc;
}

.settings-panel {
	margin-bottom: 2em;
}

#login a {
	display: block;
}

.login-box {
	width: 282px;
	overflow: auto;
	float: none;
}

h3 {
	margin-bottom: .5em;
}

select, input[type=checkbox], input[type=reset], input[type=submit] {
	font-size: 1em;
}

input[type=checkbox] {
	vertical-align: text-bottom;
}
