
html,
body{
	padding:0;
	margin:0;
	height:	100%;
	overflow:hidden;
}



#e2ma_signup{
	padding:0;
	margin:0;
	text-align:center;
}

#load_check{
	display:	none;
}

	
input{
	color:				#333;
	border:				1px solid #a0a0a0;
	font-size:			1.2em;
	outline:			none;
}


#e2ma_signup input[type=submit]{
	cursor:			pointer;	
}

#e2ma_signup .cb{
	margin:				1em auto;
	position:			relative;
	display:			inline-block;
	text-align:			left;
}


#id_group_1293,
#id_group_519437{
	margin-top:		.5em;
}

input[type=checkbox], label{
	display:	inline-block;
}

label{
	position:	relative;
	top:		0.12em;
}

#e2ma_signup input[type=submit],
#e2ma_signup input[type=text],
#e2ma_signup input[type=email]{
	width:				80%;
	margin:				0.5em auto 0 auto;
	position:			relative;
	display:			block;
}


body{
	margin:0;
	padding:0;
	width:	100%;
	height:	100%;
	max-width:100%;
}


.phone input[type=text],
.phone input[type=email],
.phone input[type=submit]{
	width:				100%;
}
.phone input[type=submit]{
	top:				4em;
}