/* html */

	html {
		font-size: 12px;
	}
	
	body {
		position: relative;
		color: #000;
		background-color: #f5f5f5;
		font-family: arial, helvetica, clean, sans-serif;
		font-size: 100%;
		width: 1200px;
		margin: 10px;
	}
	
	h1 {
		margin-bottom: 7px;
	}
	
	h2 {
		font-size: 100%;
		margin-bottom: 0;
	}
	
	p {
		margin-top: 0;
	}

	input[type=text] {
		width: 160px;
	}
	
	select {
		width: 205px;
	}


/* widget */

	#widget-options {
		position: relative;
		float: left;
		margin-right: 10px;
		width: 414px;
	}
	
	.section {
		border-bottom: 2px solid #fff;
		overflow: auto;
	}
	
	/* options */
	
		.option-label {
			float: left;
			width: 170px;
			padding: 10px;
			background-color: #2296E2;
			color: #fff;
			border-right: 2px solid #fff;
		}
		
		.option-value {
			padding: 5px;
			float: left;
			width: 212px;
			background-color: #d3d3d3;
		}
		
	
	/* color swatches */
	
		#color-swatches {
			position: absolute;
			z-index: 1000;
			background: #fff;
			display: none;
		}
		
		.color-swatch {
			border:	#D3D3D3;
			border-width:2px;
			padding:10px;
			margin-right:2px;
			cursor: pointer;
		}
		
		div.color-picker {
			float: left;
			width: 25px;
			height: 15px;
			border:	#D3D3D3;
			border-width:	2px;
			padding:2px;
			margin-right:5px;
			border: 2px solid #000;
			cursor: pointer;
		}
		
		.transparent {
			background-image: url('/themes/default/images/icons/transparent-grid.png');
		}
		
		.transparent td {
			font-weight: bold;
			background-color: transparent
		}
	
	
	/* heading */
	
		#widget-heading {
			background-color: #2296E2;
			padding: 10px;
			color: #fff;
		}
		
		#widget-heading img {
			float: left;
			margin-right: 10px;
		}
		
		#widget-heading input {
			text-decoration:underline;
			margin-right: 5px;
			width: 75px;
		}
	

	/* help */
	
		#widget-help {
			display: none;
			height: 190px;
			color: #000;
			background-color: #d3d3d3;
			padding: 10px;
		}
		
	/* background-color */
	
		#widget-background-color .option-value {
			padding-bottom: 6px;
		}
		
	/* text-color */
	
		#widget-text-color .option-value {
			padding-bottom: 6px;
		}
		
	/* default-language */
	
		#widget-default-language .option-value {
			padding-bottom: 7px;
		}
		
	/* default-search-term */
	
		#widget-default-search-term .option-value {
			padding-bottom: 6px;
		}
		
		#widget-default-search-term input[type=text] {
			width: 199px;
		}
		
	/* media-types */
	
		#widget-media-types .option-label {
			padding-bottom: 61px;
		}

	/* providers */
	
		#widget-providers .option-label {
			padding-bottom: 47px;
		}
		
	/* logo-attribution */
		
		#widget-logo-attribution .option-label {
			padding-bottom: 56px;
		}
		
		#widget-logo-attribution input {
			float: left;
			margin-right: 5px;
		}
		
		
	/* generate-code */
	
		#widget-generate-code .option-value {
			padding-bottom: 7px;
		}
		
		#widget-generate-code input[type=button] {
			margin-top: 6px;
			width: 200px;
		}
	
	
	/* widget-code */
	
		#widget-code {
			display: none;
			background-color: #d3d3d3; 
			padding: 10px;
		}
		
		#widget-code textarea {
			font-family: "Courier New", Courier, monospace;
			font-size: 12px;
			width: 380px;
			height: 150px;
		}
		
		#widget-code h2 {
			font-size: 130%;
		}
		

/* iframe */

	#preview {
		overflow: auto;
	}
	
	#preview iframe {
		overflow: auto;
		float: left;
		width: 680px;
		height: 813px;
		border: none;
	}
	

/* widget-overlay */
	
	#widget-overlay {
		position: absolute;
		top: 0;
		left: 424px;
		width: 680px;
		height: 813px;
		background-color: transparent;
	}
	
	#widget-overlay div {
		position: absolute;
		padding: 10px 0 10px 0;
		font-size: 130%;
		font-weight: bold;
		background-color: rgba( 34, 150, 226, .5);
		color: #fff;
		text-align: center;
		width: 100%;
	}
	
	#widget-overlay div:last-child {
		bottom: 0;
	}
	
