
.search-widget-container #overlay{
    position:	absolute;
    width:		100%;
    height:		100%;
    background:	black url(/portal/themes/default/images/spinner.gif) center center no-repeat;
    opacity:	.5;
    z-index:	12;
}

.search-widget-container.dark #overlay{
    background:	#555 url(/portal/themes/default/images/spinner.gif) center center no-repeat;
}

.search-widget-container{
	position:	relative;
}

/* dark theme */

.search-widget-container.dark .container,
.search-widget-container.dark #header,
.search-widget-container.dark #content,
.search-widget-container.dark .query-table,
.search-widget-container.dark .thumb-frame,
.search-widget-container.dark .row{
	background-color: #555 !important;
}

.search-widget-container.dark .query-table .menu-cell,
.search-widget-container.dark .query-table .query-cell{
	background-color: #fff;
}

.search-widget-container.desktop .menu-cell{
	border-radius:	0.5em 0 0 0.5em;
}

.search-widget-container.dark .result-pagination a,
.search-widget-container.dark .nav,
.search-widget-container.dark .ellipsis{
	color: #fff;
}

.search-widget-container.dark .nav .of-bracket{
	color: #fff !important;
}
