/* pagination */

	.navigation-pagination {
		float: left;
		overflow: hidden;
		height: 21px;
		margin: 6px 0 0 0;
		padding: 0;
	}
	
	.navigation-pagination li {
		list-style: none;
	}
	
	.navigation-pagination a {
		display: block;
	}
	
	.navigation-pagination a.selected {
		color: #666;
		text-decoration: underline;
	}
	
	.navigation-pagination .page-nr {
		float: left;
		margin-right: 5px;
		min-width: 11px;
	}