/* tabbed-content */

	.tab-navigation h3, .tab-navigation li {
		display: inline;
		font-size: 110%;
		font-weight: normal;
	}
	
	.tab-navigation li {
		margin-right: 10px;
	}
	
	.tab .panel {
		display: none;
	}
	
	
	/* explore-further tabs */

	.tab-navigation {
		height: 20px;
		border-bottom: 1px solid #a0a0a0;
	}
	
   	.tab-navigation h3 a {
   		display: block;
   		float: left;
   		padding: 2px 7px;
   		margin-right: 10px;
   		height: 15px;
   		
   		border: 1px solid #a0a0a0;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
   	}
   	
   	.tab-navigation h3 a.active,
   	.tab-navigation h3 a:hover {
   		border-bottom: 1px solid #fff;
   	}
   	
   	.tab-navigation h3 a:hover {
   		text-decoration: underline;
   	}
   	
   	.tab-navigation h3 a.active {
   		color: #666;
   	}