.hierarchy-objects{
	font-family: Arial,Verdana,Serif;
	font-size:   1em;
	line-height: 1.4em;
	position:    relative;
	
	margin-top:    1.5em;
	margin-bottom: 1.5em;
}

.hierarchy-objects{
	max-width:  100%;
	width:      100%;
}

@media only screen and ( min-width:48em ){
	.hierarchy-objects{
		max-width:  50%;
		width:      50%;
		float:      left;
	}
}

.hierarchy-container,
.hierarchy-top-panel,
.hierarchy-bottom-panel{
	border:		1px solid #dadada;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
}

.hierarchy-container{
	border-bottom: none;
	border-top: none;	
}

.hierarchy-top-panel,
.hierarchy-bottom-panel{
	XXXheight: 2em;
	width: 100%;
	position: relative;
}

.hierarchy-top-panel{
	border-bottom: none;
	height: 4.25em;
}

.hierarchy-bottom-panel{
	border-top: none;
	height: 4em;
}

.hierarchy-top-panel .hierarchy-title{
	position: absolute;
	top: 0.5em;

	left: 2em;

	font-size: 1.2em;
}


.hierarchy-bottom-panel	.expand-collapse{
	position: absolute;
	bottom: 0.5em;
	left: 2em;
}

.hierarchy-bottom-panel	.expand-collapse .expand-all,
.hierarchy-bottom-panel	.expand-collapse .collapse-all{
	
}

.hierarchy-bottom-panel	.expand-collapse .collapse-all{
	margin-left: 1em;
}


.hierarchy-next,
.hierarchy-prev{
	line-height: 2em;
}

.hierarchy-next a,
.hierarchy-prev a{
	cursor: pointer;
}

.hierarchy-title .count,
.hierarchy-next .count,
.hierarchy-prev .count{
	margin-left: 0.4em;
}

.hierarchy-prev{
	position: absolute;
	bottom: 0;
}

/*
.hierarchy-next,
.hierarchy-prev{
	float: left;
}
*/
/*
.hierarchy-top-panel .top-arrows:after,
.hierarchy-next :after,
.hierarchy-prev :after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
*/

.hierarchy-objects .top-arrows{
	
	position: absolute;
	left:     1em;
	bottom:   0px;	
	
}
.hierarchy-objects .bottom-arrows{
	
	position: absolute;
	bottom:   auto;
	top:      0px;
}


.hierarchy-objects  .arrow-spacer,
.hierarchy-objects  .arrow{	
	width:               1em;
	height:              1em;	
	float:               right;
	background-color:    transparent;
	background-position: 0 0;
	background-size:     1em 1em;
}

.hierarchy-objects  .arrow.top{		
	background-image:    url(broken-arrow-top-1.png);
}
.hierarchy-objects  .arrow.bottom{	
	background-image:    url(broken-arrow-bottom-1.png);
}

.hierarchy-objects    .arrow-spacer{
	background-color:transparent;
}


.hierarchy-container{

	XXfont-size:	1.5em;		/* tweak this to scale the whole component proportionally */
	
	overflow:	hidden;	
	position: relative;
	
}

 /* force scrollability: this em value should correspond to the js variable defaultChunk */
 /*
.hierarchy-container{
	height:     6em;
	max-height: 6em;
}
*/

#hierarchy.jstree-default .jstree-anchor{
	white-space:nowrap;
	white-space:normal;
	height: auto;
}


#hierarchy{
	position: relative;
	/*
	padding-bottom: 6em;
	*/
}

#hierarchy a,
#hierarchy a:hover,
#hierarchy a:active,
#hierarchy a:focus {
	outline: none !important;	/* outline upsets visible node calculations */
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
}


#hierarchy .icon-image,
#hierarchy .icon-sound,
#hierarchy .icon-text,
#hierarchy .icon-video{
	font-size:		0.9em;
	float:			right;
	margin-right:	1em;
	max-height:		1.4em;	/* should track line-height & js variable */
}



 /*
 	style
*/

#hierarchy.jstree-default .jstree-node,
#hierarchy.jstree-default .jstree-anchor{
	line-height: 1.4em;
}


#hierarchy.jstree-default-responsive .jstree-anchor,
#hierarchy.jstree-default-responsive .jstree-anchor{
	line-height: 1.4em;
}

#hierarchy.jstree-default .jstree-node {
  margin-left: 1em;
  min-height:  1em;
  min-width:   1em;
}

/* icons */

#hierarchy.jstree-default .jstree-leaf > .jstree-ocl{
	background-image:    url(connector-leaf.png);
	background-position: 0 0;
	background-size: 1em 1em;
	
}

#hierarchy.jstree-default .jstree-leaf.jstree-last > .jstree-ocl{
	background-image:    url(connector-leaf-last.png);
}

#hierarchy.jstree-default .jstree-open > .jstree-ocl{
	background-image:    url(connector-opened.png);
	background-position: 0 0;
	background-size: 1em 1em;
}

#hierarchy.jstree-default .jstree-open.jstree-last > .jstree-ocl{
	background-image:    url(connector-opened-last.png);			
}

#hierarchy.jstree-default .jstree-closed > .jstree-ocl{
	background-image:    url(connector-closed.png);
	background-position: 0 0;
	background-size: 1em 1em;
}

#hierarchy.jstree-default .jstree-closed.jstree-last > .jstree-ocl{
	background-image:    url(connector-closed-last.png);			
}

#hierarchy.jstree-default .jstree-node{
	background-image:    url(connector-vertical.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;
}

#hierarchy.jstree-default .jstree-last{
	background-image:    none;
}

#hierarchy.jstree-default .jstree-anchor > .jstree-themeicon{
	background-image:    url(connector-horizontal.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;
	
}


/* wrapping fix */

#hierarchy.jstree-default .jstree-anchor{
	
	padding-left: 1em;

	padding-right: 1em;
	position: relative;
	
	width:100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
	
}	
#hierarchy.jstree-default .jstree-open > .jstree-anchor{

	background-image:    url(connector-vertical.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;

}
#hierarchy.jstree-default .jstree-anchor > .jstree-themeicon{
	background-color: white;
	position: absolute;
	left: 0;
}
#hierarchy.jstree-default .jstree-anchor.jstree-hovered > .jstree-themeicon{
	background-color: #E7F4F9;
}
#hierarchy.jstree-default .jstree-anchor.jstree-clicked > .jstree-themeicon{
	background-color: #BEEBFF;
}


/* wrapping fix */
		
		



#hierarchy.jstree-default .jstree-node.jstree-open > .jstree-anchor > .jstree-themeicon{
	background-image:    url(opened.png);			
	background-position: 0 0;
	background-size: 1em 1em;
}


#hierarchy.jstree-default .jstree-icon:empty {
  height:      1em;
  line-height: 1.4em;
  width:       1em;
}
#hierarchy.jstree-default .jstree-icon:empty {
  xxxvisibility:  hidden;
}

#hierarchy .jstree-disabled {
  display:none;
}


/* overlay */
.ajax-overlay{
    position:		absolute;
    width:			100%;
    height:			100%;
    background:		black url(../../../../images/spinner.gif) center center no-repeat;
    opacity:		.5;
    z-index:		12;
    left:			0;
    top:			0;
    border-radius:	8px 8px 8px 8px;
}		

