.hierarchy-objects{
	font-family: Arial,Verdana,Serif;
	font-size:   1em;
	line-height: 1.4em;
	position:    relative;
	
	
	margin-top:    1.4em;
	margin-bottom: 1.4em;
}

.hierarchy-objects{
	max-width:  100%;
	width:      100%;
}

@media only screen and ( min-width:48em ){
	.hierarchy-objects{
		max-width:  50%;
		width:      50%;
		float:      left;
	}
}

.hierarchy-container,
.hierarchy-top-panel,
.hierarchy-bottom-panel{
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
}

.hierarchy-container{
	border-bottom: none;
	border-top: none;	
}

.hierarchy-top-panel,
.hierarchy-bottom-panel{
	width: 100%;
	position: relative;
}

.hierarchy-top-panel{
	border-bottom: none;
	padding-top: 1em;
}

.hierarchy-bottom-panel{
	border-top: none;
	height:     3em;
}

.hierarchy-top-panel .hierarchy-title{
	font-size:      1.2em;
	position:       relative;
	margin-left:    1em;
	padding-bottom: 2em;
	
	-webkit-transition: padding-bottom 1s;
    transition:         padding-bottom 1s;
}

.hierarchy-top-panel.top .hierarchy-title{
	padding-bottom:		1em;
	
	-webkit-transition: padding-bottom 1s;
    transition:         padding-bottom 1s;	
}

.hierarchy-top-panel .hierarchy-title a{
	cursor:         pointer;	
}

.hierarchy-bottom-panel	.expand-collapse{
	position: absolute;
	XXXbottom: -0.6em;
	left: 2em;
}

.hierarchy-bottom-panel	.expand-collapse .expand-all,
.hierarchy-bottom-panel	.expand-collapse .collapse-all{
	
}

.hierarchy-bottom-panel	.expand-collapse .collapse-all{
	margin-left: 1em;
}


.hierarchy-next,
.hierarchy-prev{
	line-height: 2em;
}

.hierarchy-next,
.hierarchy-prev{
	line-height:	2em;
	visibility:		hidden;
	opacity:		0;
	transition:		visibility 0s linear 0.25s, opacity 0.25s linear;
}


.hierarchy-next.show,
.hierarchy-prev.show{
  visibility:		visible;
  opacity:			1;
  transition-delay:	2s;
  transition:		opacity 1s linear;
}

.expand-collapse a,
.hierarchy-next a,
.hierarchy-prev a{
	cursor: pointer;
}

.expand-collapse a.disabled,
.hierarchy-next a.disabled,
.hierarchy-prev a.disabled{
	color:	#e4e4e4;
	cursor:	default;
}


.hierarchy-prev{
	z-index: 2;
}

.hierarchy-title .count,
.hierarchy-next .count,
.hierarchy-prev .count{
	margin-left: 0.4em;
}

.hierarchy-prev{
	position: absolute;
	bottom: 0;
}

.wait-msg{
	color:       rgba(255, 255, 255, 1);
	position:    absolute;
	top:     	 50%;
	margin-top:  2.5em;
	text-align:  center;
	width:       100%;
	font-weight: bold;
	font-style:  italic;
}

.transparent {
	opacity:     		0;
	
    -webkit-transition: opacity 1s;
    transition:         opacity 1s;
} 

.opaque {
	opacity:     		1;
	
    -webkit-transition: opacity 1s;
    transition:         opacity 1s;
} 


/*
.hierarchy-next,
.hierarchy-prev{
	float: left;
}
*/
/*
.hierarchy-top-panel .top-arrows:after,
.hierarchy-next :after,
.hierarchy-prev :after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
*/

.hierarchy-objects .top-arrows{
	
	position: absolute;
	left:     1em;
	bottom:   0px;	
	
}
.hierarchy-objects .bottom-arrows{
	
	position: absolute;
	bottom:   auto;
	top:      0px;
}


.hierarchy-objects  .arrow-spacer,
.hierarchy-objects  .arrow{	
	width:               1em;
	height:              1em;	
	float:               right;
	background-color:    transparent;
	background-position: 0 0;
	background-size:     1em 1em;
}

.hierarchy-objects  .arrow.top{		
	background-image:    url(broken-arrow-top-1.png);
}
.hierarchy-objects  .arrow.bottom{	
	background-image:    url(broken-arrow-bottom-1.png);
}

.hierarchy-objects    .arrow-spacer{
	background-color:transparent;
}


.hierarchy-container{

	XXfont-size:	1.5em;		/* tweak this to scale the whole component proportionally */
	
	overflow:	hidden;	
	position: relative;
	
}

 /* force scrollability: this em value should correspond to the js variable defaultChunk */
 /*
.hierarchy-container{
	height:     6em;
	max-height: 6em;
}
*/

#hierarchy.jstree-default .jstree-anchor{
	white-space:nowrap;
	white-space:normal;
	height: auto;
}


#hierarchy{
	position: relative;
	/*
	padding-bottom: 6em;
	*/
}

#hierarchy a,
#hierarchy a:hover,
#hierarchy a:active,
#hierarchy a:focus {
	outline: none !important;	/* outline upsets visible node calculations */
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
}


#hierarchy .icon {
	line-height: 1em;
	position: relative;
}

#hierarchy .icon:after{
	right: -1em;
	position: absolute;
	font-size:0.8em;
}

#hierarchy .icon-video:before {
	content: "";
}
#hierarchy .icon-text:before {
	content: "";
}
#hierarchy .icon-image:before {
	content: "";
}
#hierarchy .icon-audio:before {
	content: "";
}
#hierarchy .icon-sound:before {
	content: "";
}
#hierarchy .icon-3d:before {
	content: "";
}
#hierarchy .icon-video:after {
	content: "\28";
}
#hierarchy .icon-text:after {
	content: "\29";
}
#hierarchy .icon-image:after {
	content: "\5b";
}
#hierarchy .icon-audio:after {
	content: "\5d";
}
#hierarchy .icon-sound:after {
	content: "\5d";
}
#hierarchy .icon-3d:after {
	content: "\7b";
}



 /*
 	style
*/

#hierarchy.jstree-default .jstree-node,
#hierarchy.jstree-default .jstree-anchor{
	line-height: 1.4em;
}


#hierarchy.jstree-default-responsive .jstree-anchor,
#hierarchy.jstree-default-responsive .jstree-anchor{
	line-height: 1.4em;
}

#hierarchy.jstree-default .jstree-node {
  margin-left: 1em;
  min-height:  1em;
  min-width:   1em;
}

/* icons */

#hierarchy.jstree-default .jstree-leaf > .jstree-ocl{
	background-image:    url(connector-leaf.png);
	background-position: 0 0;
	background-size: 1em 1em;
	
}

#hierarchy.jstree-default .jstree-leaf.jstree-last > .jstree-ocl{
	background-image:    url(connector-leaf-last.png);
}

#hierarchy.jstree-default .jstree-open > .jstree-ocl{
	background-image:    url(connector-opened.png);
	background-position: 0 0;
	background-size: 1em 1em;
}

#hierarchy.jstree-default .jstree-open.jstree-last > .jstree-ocl{
	background-image:    url(connector-opened-last.png);			
}

#hierarchy > .jstree-container-ul > .jstree-open.jstree-last > .jstree-icon{
	background-image:    url(connector-opened-last-root.png);				
}


#hierarchy.jstree-default .jstree-closed > .jstree-ocl{
	background-image:    url(connector-closed.png);
	background-position: 0 0;
	background-size: 1em 1em;
}

#hierarchy.jstree-default .jstree-closed.jstree-last > .jstree-ocl{
	background-image:    url(connector-closed-last.png);			
}

#hierarchy > .jstree-container-ul > .jstree-closed.jstree-last > .jstree-icon{
	background-image:    url(connector-closed-last-root.png);
}

#hierarchy.jstree-default .jstree-node{
	background-image:    url(connector-vertical.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;
}

#hierarchy.jstree-default .jstree-last{
	background-image:    none;
}

#hierarchy.jstree-default .jstree-anchor > .jstree-themeicon{
	background-image:    url(connector-horizontal.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;
	
}


/* wrapping fix */

#hierarchy.jstree-default .jstree-anchor{
	
	padding-left: 1em;

	padding-right: 1em;
	position: relative;
	
	max-height: 2.8em; /* Should correspond to twice the line-height */
	overflow:hidden;
	
	width:100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
	
}	
#hierarchy.jstree-default .jstree-open > .jstree-anchor{

	background-image:    url(connector-vertical.png);			
	background-position: 0 0;
	background-size: 1em 1em;
	background-repeat: repeat-y;

}
#hierarchy.jstree-default .jstree-anchor > .jstree-themeicon{
	background-color: white;
	position: absolute;
	left: 0;
}
#hierarchy.jstree-default .jstree-anchor.jstree-hovered > .jstree-themeicon{
	background-color: #E7F4F9;
}
#hierarchy.jstree-default .jstree-anchor.jstree-clicked > .jstree-themeicon{
	background-color: #BEEBFF;
}


/* wrapping fix */
		
		



#hierarchy.jstree-default .jstree-node.jstree-open > .jstree-anchor > .jstree-themeicon{
	background-image:    url(opened.png);			
	background-position: 0 0;
	background-size: 1em 1em;
}


#hierarchy.jstree-default .jstree-icon:empty {
  height:      1em;
  line-height: 1.4em;
  width:       1em;
}

#hierarchy.jstree-default .jstree-icon:empty {
}

#hierarchy .jstree-disabled {
  display:none;
}


/* overlay */
.ajax-overlay{
	opacity:		1;
    position:		absolute;
    width:			100%;
    height:			100%;
    background-image:	 url(spinner.gif);
    background-position: center center;
    background-repeat:   no-repeat;
    background-color:    rgba(0, 0, 0, 0.5);	
    z-index:		12;
    left:			0;
    top:			0;
    border-radius:	8px 8px 8px 8px;
}

