html {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font-family: arial, helvetica, sans-serif;
    font-size: medium;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/* target 320 x 480 screens (portrait)  */
@media only screen and (max-width: 320px) {
  body {
    font-size: small;
  }
  
}


/*#static-bar {*/
    /*position: fixed;*/
    /*height: 64px;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*width: 100%;*/
/*}*/

strong {
    font-weight: bold;
}

p {
    margin: 0 0 10px 0;
}

#header {
    background: #ff0066;
    color: #fff;
    height: 32px;
}
#header.result {
    padding-left: 80px;
    line-height: 32px;
}

#header.home {
    height: 100px;
    position: relative;
}

#header.home img {
  float: left;
}

#language-select {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#language-select select {
    margin: 0;
    padding: 0;
    border: 0px;
    background: transparent;
    color: #fff;
}
#branding.home {
    background: transparent url("../images/europeana-bubble.png") 0 0 no-repeat;
    width: 140px;
    height: 155px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#branding.result {
    width: 52px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#branding.result a:link {
    height: 32px;
}

#intro {
    width: 75%;
    margin: 75px auto 45px auto;
}

.searchbox {
    text-align: center;
}

#searchform .txt-input {
    -webkit-border-radius: 8px;
    width: 55%;
}

#share-this {
    text-align: center;
    /*height: 40px;*/
    /*line-height: 40px;*/
    margin-top: 20px;
}

#footer {
    margin-top: 10px;
    text-align: center;
    background: #ff0066;
    padding: 4px;
    color: #fff;
    width: auto;
}

#footer a:link, #footer a:visited {
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    color: #e1e1e1;
}
#share-this {
    /*margin-bottom: 20px;*/
}

#content {
    margin:0 0 0 0;
}

#content.contact {
    margin: 50px 0 0 0;
    padding: 10px;
}

/* RESULT NAVIGATION */

.result-nav {
    padding-left: 80px;
    background: #fff;
    height: 40px;
    line-height: 40px;
    /*margin-top: 19px;*/
    font-size: small;
    
}

.result-nav .page-nav {
    float: left;
}
.result-nav .page-nav span.nav-text {
    display: none;
}
.result-nav .page-nav img {
    vertical-align: middle;
}
.result-nav .view-select {
    float: right;
    padding: 0 10px 0 0;
}

.result-nav .page-nav table td {
    display: table-cell;
    vertical-align: middle;
}


/* RESULT LIST WITH/WITHOUT IMAGES */

ul.result li {
     position: relative;
     width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 4px 0;
    height: 50px;
}

ul.result li:first-child {
 border-top: 1px dashed #ccc;
}

ul.result li:hover {
    background: #eaeaea;
}

ul.result li a:link {
    position: absolute;
    width: 100%;
    min-height: 40px;
    text-decoration: none;
}

ul.result li a:visited {
    color: #666666;
}
ul.result li a:active {
    color: #ff0066;
}

ul.result li div.info  {
    /*position: absolute;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 50px;
    padding: 0 0 0 10px;
}

/* RESULT LIST WITH IMAGES */

ul.result.image-text li {
    height: 85px!important;
}

ul.result.image-text li div.thumb {
    float: left;
    width: 65px;
    height: 85px;
    padding: 0 0 0 4px;

}
ul.result.image-text li div.thumb img {
    clip:rect(0, 65px, 85px, 0);
    position: absolute;
    border: none;
}
ul.result.image-text li div.media {
    float: left;
    height: 85px;
    width: 10px;
}


span.title {
    font-size: large;
    font-weight: bold;
}


  
@media only screen and (max-width: 320px) {
  span.title {
    font-size: small;
    font-weight: bold;
  }  
}  
  


/* RESULT LIST TEXT-ONLY */

ul.result.text-only li a{
    font-size: smaller;
}

/* RESULT LIST IMAGES-ONLY */
#flow {
    text-align: center;
    margin: 0 auto;
    
}
#flow img.nocache {
    max-width: 75px;
}
#flow td {
    padding: 2px;
}
.clip-wrapper{
  position:relative;
  height:105px;
}
.clip{
  position:absolute;
  clip:rect(50px 218px 155px 82px);
}

#no-result {
    margin: 40px auto;
    width: 50%;
}

/* Item view */

#item-title {
    width:77%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#item-image {
    text-align: center;
    padding: 10px 0;
}

#item-img .nocache {
    height: 150px;
}

#item-data tr {
    border-top: 1px solid #ccc;
}
#item-data td {
    font-size: small;
    vertical-align:top;
    padding: 4px;
    /*border-bottom: 1px dashed #ccc;*/
}

/*#item-data tr:first-child > td  {*/
    /*border-top: 1px dashed #ccc;*/
/*}*/

#item-data td.name {
    font-weight: bold;
    text-align: right;
}

.bgIMAGE {
    background: #FE971E !important;
}
.bgTEXT {
    background: #A90F94 !important;
}
.bgVIDEO {
    background: #ED1F34 !important;
}
.bgSOUND {
    background: #0FB9A5 !important;
}

.error {
	color: #ff0000;
}
