#welcome {
	font-size: 12px;
}

#welcome img {
	float: left;
	margin: 0 5px 0 0;
	width: auto;
	height: 50px;
}

#myFlow {
	padding-top: 1px;
	margin-bottom: 1px;
}

#treasures {
    text-align: center;
}

/* Language select fix */
body #content .pageitem .select p {
	margin-top: 12px;
	margin-left: -2px; 
}

/* result display */
body.list {
	background-image: url("../iwebkit/images/background.png") !important;
}

body.list li.withimage {
	height: 55px !important;
}

body.list li.withimage a, body.list li.withimage:hover a {
    height: auto !important;
}

body.list div#content li.textonly a:hover,  body.list li.textonly:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015FE6));
}

#treasures img {
	max-height: 55px;
	max-width: 85px;
	width: auto;
    position: relative;
}

body.list li.withimage img {
    position: absolute;
    clip:rect(27px, 70px, 82px, 10px);
    top:-27px;
    left:-10px;
}

body.list li.withimage .withimage_text_background {
    position: absolute;
    top: 0px;
    height: 55px;
    left: 56px;
    margin-left:1px;
    width: 10px;
}



.TEXTitem {
    background: url("../images/grad-page-large.gif") left top no-repeat !important
}

.IMAGEitem {
    background: url("../images/grad-image-large.gif") left top no-repeat !important
}

.VIDEOitem {
    background: url("../images/grad-video-large.gif") left top no-repeat !important
}

.SOUNDitem {
    background: url("../images/grad-sound-large.gif") left top no-repeat !important
}

.TEXTthumb {
    border-left:5px solid #A90F94 !important;
}

.IMAGEthumb {
    border-left:5px solid #FE971E !important;
}

.VIDEOthumb {
    border-left:5px solid #ED1F34 !important;
}

.SOUNDthumb {
    border-left:5px solid #0FB9A5 !important;
}

.bgImage {
    background: #FE971E;
}
.bgText {
    background: #A90F94;
}
.bgVideo {
    background: #ED1F34;
}
.bgSound {
    background: #0FB9A5;
}

.TEXTtitle {
    background:url("../images/icon-page.gif") no-repeat scroll left top transparent;
    padding:0 0 0 20px;
}

.IMAGEtitle {
    background:url("../images/icon-image.gif") no-repeat scroll left top transparent;
    padding:0 0 0 25px;
}

.VIDEOtitle {
    background:url("../images/icon-video.gif") no-repeat scroll left top transparent;
    padding:0 0 0 25px;
}

.SOUNDtitle {
    background:url("../images/icon-sound.gif") no-repeat scroll left top transparent;
    padding:0 0 0 25px;
}

body.list div#content li {
	height: auto;
}

body.list div#content li.textonly a {
	font-weight: normal;
	font-size: 14px;
	height: auto;
	padding-top: 2px;
	padding-left: 15px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

body.list li.withimage .comment {
	margin-top: -5px !important;
}

body.list div#content li a span.name {
	font-size: 14px !important;
	font-weight: normal !important;
    margin-top: -5px;
	margin-left: 52px;
	margin-right: 20px;
	max-width: none !important;
	margin-left: 52px;

}

body.list li.withimage .comment {
	margin-left: 75px !important;
	text-decoration: none;
	color: black;
}

body.list li.withimage .arrow {
	top: 22px !important;
}


/* result display: image-only */
#imagelist {
    float:left;
    padding: 2px;
}

#imagelist a {
    width: 69px;
    height: 73px !important;
    padding: 0px !important;
    background-color: white;
    border:1px solid #A5ADB5;
    margin: 2px;
	float: left;
}

#imagelist img {
    clip:rect(17px, 71px, 90px, 2px);
	left: -2px;
    top: -17px;
}

/*#resultnavigation {*/
	/*text-align: center;*/
	/*position: relative;*/
	/*margin: 0 0 0 0;*/
	/*height: 30px;*/
	/*width: 100%;*/
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(205, 213, 223)*/
		/*), color-stop(0.03, rgb(176, 188, 205) ),*/
		/*color-stop(0.5, rgb(136, 155, 179) ),*/
		/*color-stop(0.51, rgb(129, 149, 175) ),*/
		/*color-stop(0.97, rgb(109, 132, 162) ), to(rgb(45, 54, 66) ) );*/
/*}*/

/*#resultnavigation a, #resultnavigation #pagination-current {*/
	/*-webkit-border-image: url(../images/navstripe.png) 0 5 0 5 stretch*/
		/*stretch;*/
	/*border-width: 0px 5px;*/
	/*color: white;*/
	/*text-decoration: none;*/
	/*text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;*/
	/*height: 32px;*/
	/*line-height: 32px;*/
	/*font-size: 12px;*/
	/*font-weight: bold;*/
	/*padding-top: 8px;*/
	/*padding-bottom: 7px;*/
	/*top: 0px;*/
	/*position: relative;*/
	/*margin-right: -5px;*/
	/*padding-right: 10px;*/
	/*padding-left: 10px;*/
	/*z-index: 5;*/
/*}*/

/*#resultnavigation a:last-child {*/
	/*margin-left: -3px;*/
	/*padding-left: 10px;	*/
	/*z-index: 3;*/
	/*-webkit-border-image: url(../iwebkit/images/navbutton.png) 0 5 0 5*/
		/*stretch stretch;*/
	/*-webkit-border-bottom-left-radius: 6px 6px;*/
	/*-webkit-border-bottom-right-radius: 6px 6px;*/
	/*-webkit-border-top-left-radius: 6px 6px;*/
	/*-webkit-border-top-right-radius: 6px 6px;*/
/*}*/

/*#resultnavigation  a:first-child {*/
	/*margin-right: -8px;*/
	/*padding-right: 12px;*/
	/*-webkit-border-image: url(../iwebkit/images/navbutton.png) 0 5 0 5*/
		/*stretch stretch;*/
	/*-webkit-border-bottom-left-radius: 6px 6px;*/
	/*-webkit-border-bottom-right-radius: 6px 6px;*/
	/*-webkit-border-top-left-radius: 6px 6px;*/
	/*-webkit-border-top-right-radius: 6px 6px;*/
/*}*/

/*#resultnavigation #pagination-current {*/
	/*font-weight: bold;*/
	/*-webkit-border-image: url(../images/navstripeblue.png) 0 5 0 5 stretch*/
		/*stretch;*/
/*}*/

.resultnavigation {
	text-align: center;
	position: relative;
	margin: 0 0 0 0;
	height: 30px;
	width: auto;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(205, 213, 223)
		), color-stop(0.03, rgb(176, 188, 205) ),
		color-stop(0.5, rgb(136, 155, 179) ),
		color-stop(0.51, rgb(129, 149, 175) ),
		color-stop(0.97, rgb(109, 132, 162) ), to(rgb(45, 54, 66) ) );
    padding: 2px;
}

.resultnavigation a, .resultnavigation .pagination-current {
	-webkit-border-image: url(../images/navstripe.png) 0 5 0 5 stretch
		stretch;
	border-width: 0px 5px;
	color: white;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 7px;
	top: 0px;
	position: relative;
	margin-right: -5px;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 5;
}

.resultnavigation a:last-child {
	margin-left: -3px;
	padding-left: 10px;
	z-index: 3;
	-webkit-border-image: url(../iwebkit/images/navbutton.png) 0 5 0 5
		stretch stretch;
	-webkit-border-bottom-left-radius: 6px 6px;
	-webkit-border-bottom-right-radius: 6px 6px;
	-webkit-border-top-left-radius: 6px 6px;
	-webkit-border-top-right-radius: 6px 6px;
}

.resultnavigation  a:first-child {
	margin-right: -8px;
	padding-right: 12px;
	-webkit-border-image: url(../iwebkit/images/navbutton.png) 0 5 0 5
		stretch stretch;
	-webkit-border-bottom-left-radius: 6px 6px;
	-webkit-border-bottom-right-radius: 6px 6px;
	-webkit-border-top-left-radius: 6px 6px;
	-webkit-border-top-right-radius: 6px 6px;
}

.resultnavigation .pagination-current {
	font-weight: bold;
	-webkit-border-image: url(../images/navstripeblue.png) 0 5 0 5 stretch
		stretch;
}

/* single item display */
#detailviewbox {
	text-align: center;
}
#detailviewbox  img {
    border: 5px solid #fff;
}
#detailview {
	max-width: 100%;
	max-height: 200px;
	width: auto;
	height: auto;
	position: relative;
}



#fulldoc_title {
    padding-left: 5px !important;
}

.autolist #detailviewbox {
    height: auto;
}

#detailviewbox {
    position: relative;
}

/* single item display */
body.list ul img {
	width: auto;
	height: auto;
}

/* trims long titles */
#resultinformation_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

body.list ul li a .maplink {
	margin-left: 25px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.list ul li a.originalcontext {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -20px;
}

/* result titlebar: switching between mixed, text-only, image-only display mode */
#centernav {
	position: relative;
	margin: auto;
	width: 191px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
	font-size: 16pt;
}

#centernav a {
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	z-index: 3;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-image: url("../iwebkit/images/navbutton.png") 0 5 0 5
		stretch stretch;
	border-width: 0px 5px 0px 5px;
	color: white;
	line-height: 24px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);

}

.buttonpressed {
	-webkit-border-image: url("../iwebkit/images/navbuttonblue.png") 0 5 0 5
		stretch stretch !important;
}

#centernav img {
	margin-top: 8px;
}

li.select select {
    padding-left: 10px;
}

#searchbuttons_container {
    height:20px;
    position: absolute;
    right: -10px;
}

#submit_search {
    max-width: 70px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    margin-top:1px;
    margin-right:0px;
    margin-left: 2px;
    float:left;
	-webkit-border-image: url("../images/button.png") 0 10 0 10	stretch stretch;
	-moz-border-image: url("../images/button.png") 0 10 0 10 stretch stretch;
	border-width: 0px 10px;
	border-color: none;
    padding: 2px;
	color: #515151;
	text-decoration: none;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 320px) {

	.titleresultnav {
		margin-top: 7px !important;
	}
		
	#centernav img {
		margin-top: 15px;
	}
	#centernav {
		height: 44px;
	}
	#centernav a {
		padding-right: 4px;
		padding-left: 4px;
		padding-top: 5px;
		padding-bottom: 2px;
	}
}

/*==============================*/

#intro {
    height: 150px;
}
#intro p {
    margin: 30px 0 0 10px;
}
#intro img {
    float: left;
    margin-right: 20px;
}
.media-explain {
   padding: 0 0 0 15px;
    margin: 0 0 10px 0;
    float: left;
    width: 20%;
}
.media-explain img {
    margin-right: 5px;
}
