/* HTML */

	html{
		font-size:		14px;
		font-family:	arial,helvetica,sans-serif;
		line-height:	140%;	
	    height:			100%;
	    width:			100%;
	}
	
	body{
		margin:		0;
		padding:	0;
		font-size:	100%;
		position:	relative;
	    height:		100%;
	    width:		100%;
	}
	
	
	h1 {
		line-height: 100%;
	}
	
	img {
		border: none;
	}


/* HEADER */
	
	#logo {
	    background: transparent url(/portal/branding/mobile2/images/europeana-bubble.png) 0 0 no-repeat;
	    width:	140px;
	    height: 155px;    
	}
	
	/* this header is used only on the index page*/
	#header {
	    background-color:	#FF0066;
	    width: 				100%;
	    height:				100px;
	    position:			relative;
	    margin-bottom:		80px;
	}
	
	#header-common{
	    background-color:	#FF0066;
	    height:				32px;
	    position:			relative;
	}
	
	
	#result-count-common{
		color:				#fff;
		margin-left:		81px;
		padding-top:		6px;
		font-size:			120%;
	}
	
	#logo-common{
	    background: 		transparent url(/portal/branding/mobile2/images/europeana-corner.png) 0 0 no-repeat;
	    position:			absolute;
		top:				0;
		left:				0;
	    width:				74px;
	    height: 			83px;
	    display:			block;    
	}

	
	#header select{
		background-color: white;
		border: none;
		position: absolute;
		right:	5px;
		bottom:	5px;
	}


/* INDEX */

	#content{
		margin:		0;
		padding:	0 1.9%;
		text-align:	center;
		overflow: 	hidden;
		border-bottom: 1px dashed #CCCCCC;
	}
	
	form input[type=text]{
		width:		70%;
		font-size:	160%;
		display:	block;
		margin:		auto;
		margin-bottom:	5px;
	}
	
	form input[type=submit]{
		font-size:	160%;
		display:	block;
		margin:		10px auto 30px auto;
	}
	
	#qf-label{
		background-image:	url(/portal/branding/mobile2/images/ugc.jpg);
		background-repeat:	no-repeat;
		width:				36px;	
		height:				36px;
		display:			inline-block;

		vertical-align:		text-bottom;
	}
	
	fieldset{
		border:	none;
	}


/* FOOTER */

	#footer{
		position:		relative;
		margin:			0 0 10px 0;
		text-align:		center;
		font-size:		120%;
		border-top:		1px solid #ccc; /* #ff0066 */
	}
	
	#footer-list {
		list-style:		none;
		padding:		0;
		margin:			0;
	}
	
	#footer-list li {
		padding:		10px;
	}
	
	#addthis {
		margin:			20px 0 10px 0;
	}


	.add-this-wrapper{
		margin:			0 auto;
		margin-top:		10px;
		display:		table;
	}
	


/* RESULT NAVIGATION CONTROLS */

	.result-nav {
	    background: #fff;
	    font-size: small;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	.result-nav .page-nav {
	    margin-left: 81px;
	    height: 40px;
	    line-height: 40px;
	}
	
	.result-nav .page-nav span.nav-text {
	    display: none;
	}
	.result-nav .page-nav img {
	    vertical-align: middle;
	}
	.result-nav .view-select {
	    float: right;
	    padding: 0 10px 0 0;
	}
	
	.result-nav .page-nav table td {
	    display: table-cell;
	    vertical-align: middle;
	}

	.result-nav .page-nav a:link, .result-nav .page-nav a:visited, .result-nav .page-nav a:active {
		text-decoration: none;
	}
	
	#static-bar {
		
	}
	


/* RESULT LIST GENERAL */

	ul.result{
	    padding: 0;
	    margin: 0;
	    
	}
	
	ul.result li {
	    border-top:			1px dashed #ccc;
	    list-style:			none;
	    height:				105px;
		line-height: 		120%;
	    
	    overflow:			hidden;
	    padding:			4px 0 4px 0;
	    text-align:			left;
	  
		position:			relative;
		background-repeat:	no-repeat;
		background-position: right bottom;
	}
	
		ul.result li:hover {
		    background-color: #eaeaea;
		}
		
		ul.result li.IMAGE {
		  background-image:	url(/portal/branding/portal2/images/icons/object-type-image.png);
		}
			
		ul.result li.SOUND {
		  background-image:	url(/portal/branding/portal2/images/icons/object-type-sound.png);
		}
			
		ul.result li.TEXT {
		  background-image:	url(/portal/branding/portal2/images/icons/object-type-text.png);
		}
			
		ul.result li.VIDEO {
		  background-image:	url(/portal/branding/portal2/images/icons/object-type-video.png);
		}
			
		ul.result li.3D {
		  background-image:	url(/portal/branding/portal2/images/icons/object-type-3d.png);
		}

		ul.result li.PARENT {
			/* background-position: 134px 29px; */
		}
		
		@media only screen and (min-width: 480px) {
			
		}
		
		
	ul.result li .info  {
		float:			left;
		margin-left:	10px;	
		max-width:		230px;
	}

	
	ul.result li .title {
		line-height: 		120%;
		font-size:			130%;
		font-weight:		bold;
		height:				46px;
		display:			block;
		overflow:			hidden;
		
		/*
		text-overflow:	ellipsis;
		white-space:	nowrap;
		*/
	}


/* RESULT LIST WITH IMAGES */
	
	ul.result.image-text li img {
	    float:				left;
	    max-width:			65px;
	    max-height:			105px;
	}


/* FULL DOC VIEW */

	.fulldoc-section,
	.fulldoc-image {
    	border-top:			1px solid #ccc;
    	padding:			8px;
    	text-align:			left;
	}
	
	.fulldoc-image {
    	text-align:			center;
	}

	.fulldoc-label {
		font-size:			130%;
		font-weight:		bold;
		float:				left;
		clear:				both;
		margin-right:		8px;
	}
	
	#item-title {
		margin-left:		100px;
		font-size:			130%;
	}

	#item-data {
		text-align:			left;
		border-collapse:	collapse;
	    border-spacing:		0;
	}

	#item-data tr {
	    zzborder-top: 1px solid #CCCCCC;
	}
	
	#item-image {
		text-align:			center;
	}

	.ugc-img{
		vertical-align:	text-bottom;
		margin-left:	4px;;
	}
	
	
/* STATICPAGES */

	#content-staticpage {
		margin:		30px 0 0 0;
		padding:	0 1.9%;
		text-align:	left;
		overflow: 	hidden;
	}
	
	textarea {
		width:		70%;
		height:		100px;
	}