/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader{height:1px!important}

.europeana-carousel .galleria-thumbnails,
.europeana-carousel .galleria-image{
	overflow:visible !important;
}

.galleria-container {
    position:	relative;
    overflow:	visible;
}


.europeana-carousel .galleria-container {			/* C */
    overflow:	hidden;
}

.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.galleria-stage {
    position:	absolute;
    top:		0px;
    left:		0px;
    right:		0px;
    overflow:	hidden;
    
    /*
	 NOTE: this value is linked to 
	 	- thumbnail height in this file (value is 100 + margin-top) 
	 	- galleriaOffsetY in fulldoc.js
	 	- window.resize in fellow theme js file
	*/
	
    bottom: 	0px;
    height:		100%;
}

.europeana-carousel .galleria-stage,
.europeana-bordered .galleria-stage {
    top:		10px;
    left:		10px;
    right:		10px;
    height:		auto;
    bottom: 	110px;
}

.europeana-carousel .galleria-stage {
    display:	none;
}

@media only screen and ( min-width:767px ){
	
	/*
	 NOTE: this value is linked to 
	 	- thumbnail height in this file (value is 50 + margin-top) 
	 	- galleriaOffsetY in fulldoc.js
	 	- window.resize in fellow theme js file
	 */
	.europeana-carousel .galleria-stage,
	.europeana-bordered .galleria-stage {
		bottom: 	60px;
	}
}


.galleria-thumbnails-container {
	position:	absolute;
    z-index:	2;
    overflow:	hidden;
    right:		1em;
	display:	none;
	max-width:	40%;    
	bottom:		1em;
}

.europeana-carousel .galleria-thumbnails-container,
.europeana-bordered .galleria-thumbnails-container {
	display:	block;
	max-width:	100%;
	bottom:		0;
}

.europeana-bordered .galleria-thumbnails-container {
	left:		10px;
	right:		10px;
}

.europeana-carousel .galleria-thumbnails-container {
	left:		0px;
	right:		0px;
}

@media only screen and ( min-width:767px ){
	.galleria-thumbnails-container {
		display:	block;
	}
}

.europeana-bordered .galleria-thumbnails-container {			/* B */
	bottom:	0px;
}

.europeana-carousel .galleria-thumbnails-container {
	height: 100%;
}

.europeana-carousel .europeana-carousel-info{
	background-color:	rgba(0, 0, 0, 0.698);
	color:				#FFF;
	position:			absolute;
	padding:			0.2em;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	box-sizing:			border-box;

	-moz-border-radius:		0 0 0.5em 0.5em;
	-webkit-border-radius:	0 0 0.5em 0.5em;
	border-radius:			0 0 0.5em 0.5em;

	overflow:			hidden;
	bottom:				0;
	line-height:		1.1em;
	height:				2.6em;
	max-height:			2.6em;
	width:				100%;
	z-index:			1;
}


.europeana-carousel .europeana-carousel-info .title{
	font-weight:	bold;
	margin:			0 0 7px;
	color:			white;
}


.europeana-carousel .galleria-carousel .galleria-thumbnails-list {
    margin-left:	-9px;
    margin-right:	-9px;        
}

.galleria-thumbnails .galleria-image {
    height:		80px;
    width:		120px;
    background:	#000;
	margin:		0 0 0 0;
	border:		1px solid #000;
    float:		left;
    cursor:		pointer;
}

@media only screen and ( min-width:767px ){
	.galleria-thumbnails .galleria-image {
	    height:		40px;
	    width:		60px;
	}
}

.europeana-carousel .galleria-thumbnails .galleria-image {
	background:			#fff;
    margin:				0 9px 0 9px;	/* pixel values only - em causes FF / chrome to disagree */
	border:				1px solid #E4E4E4 !important;

	-moz-border-radius:		0.5em;
	-webkit-border-radius:	0.5em;
	border-radius:			0.5em;	
	

	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;	
}

.galleria-thumbnails{	/* centre the film strip in the default gallery */
	margin:	auto;
}

.europeana-carousel .galleria-thumbnails .galleria-image img{	/* centre the images within their containers */
	position:	relative !important;
	margin:		auto !important;
}

.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 1;
}

.galleria-counter,
.europeana-carousel .galleria-counter {
	display:none;
	visibility:hidden;
	width:0px!important;
}


.galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url('/portal/themes/default/js/galleria/themes/europeanax/classic-loader.gif') no-repeat 2px 2px;
}


.galleria-image-nav {
    position:	absolute;
    top:		50%;
    width:		100%;
    margin-top:	-62px;
	height:		62px;
    left:		0;
}

.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
    font-size:	5em;
    position: absolute;
    left: -0.15em;
    visibility:hidden;
    margin-left:-10px;
    z-index: 2;
}

.galleria-image-nav-right {
	left:			auto;
	margin-right:	-10px;
	right:			-0.15em;
}

/* index page */
.galleria-image-nav-left.icon-arrow-4, .galleria-image-nav-right.icon-arrow-2{
	color:			white;	
	text-shadow:	0 0 1px #000;
}

.galleria-image-nav-left.icon-arrow-4, .galleria-image-nav-right.icon-arrow-2{
	filter: Shadow(Color=#000, Direction=45, Strength=2),
			Shadow(Color=#000, Direction=135, Strength=2),
			Shadow(Color=#000, Direction=225, Strength=2),
			Shadow(Color=#000, Direction=315, Strength=2);
	background-clip:	text;
}



.europeana-carousel .galleria-image-nav-left,
.europeana-carousel .galleria-image-nav-right {
	display:none;
}

.galleria-image-nav-right {
    z-index: 2;
}

.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor:					pointer;
    position:				absolute;		/* custom styling of nav arrows */
    left:					0;
    top:					4px;
    height:					100px;
    width:					23px;
    width:					17px;
    z-index:				3;
    opacity:				.8;
    filter:					alpha(opacity=80);
    margin-left:			-14px;
	font-size:				3em;
	color:					white;	
	text-shadow:			0 0 1px #000;
    
}

.galleria-thumb-nav-right {
    border-right:	none;
    right:			0;
    left:			auto;
    margin-right:	17px;
    margin-left:	0px;
}


@media only screen and ( min-width:767px ){
	.galleria-thumb-nav-left,
	.galleria-thumb-nav-right {
		top:			-2px;
	    height:			40px;
	    width:			23px;
	    font-size:		2em;
	    margin-left:	-7px;
	}
	
	.galleria-thumb-nav-right {
		margin-right:	0px;
	}
}

.europeana-carousel .galleria-thumb-nav-left,
.europeana-carousel .galleria-thumb-nav-right {
    width:				auto;
    height:				auto;
    font-size:			6em;
    background-color:	transparent !important;
   	color:				white;
	text-shadow:		0 0 10px #000;
	left:				0px;
	right:				auto;
}

.europeana-carousel .galleria-thumb-nav-left:before,
.europeana-carousel .galleria-thumb-nav-right:before{
	filter: Shadow(Color=#000, Direction=45, Strength=2),
			Shadow(Color=#000, Direction=135, Strength=2),
			Shadow(Color=#000, Direction=225, Strength=2),
			Shadow(Color=#000, Direction=315, Strength=2);

	background-clip:	text;
}
	
.europeana-carousel .galleria-thumb-nav-right {
    left:				auto;
    right:				-0.3em;
}

@media only screen and ( min-width:767px ){
	
	.europeana-carousel .galleria-thumb-nav-left,
	.europeana-carousel .galleria-thumb-nav-right {
		left:				-0.2em;
		right:				auto;
	}
	
	.europeana-carousel .galleria-thumb-nav-right {
	    left:				auto;
	    right:				-0.3em;
	}
	
}


.galleria-thumbnails-container .disabled.icon-arrow-4:before,
.galleria-thumbnails-container .disabled.icon-arrow-2:before {
	content:'';
}


.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}


.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}


/* europeana header & footer components */

.galleria-info {
    position:			absolute;
    background-color:	rgba(0, 0, 0, 0.7);

    z-index:			1;
    visibility:			hidden;

    top:				auto;
    left:				0;
    right:				0;
    max-width:			100%;
    
    bottom:				0;
    margin-bottom:		5px;
	max-height:			45%;
}
/*
@media only screen and ( min-width:767px ){
	.galleria-info {
	    top:					1em;
	    left:					3em;
	    right:					auto;
		max-width:				45%;
		max-height:				20em;
        bottom:					auto;
        margin-bottom:			0;
        -moz-border-radius:		0.8em;
		-webkit-border-radius:	0.8em;
		border-radius:			0.8em;
	}
	
	.galleria-info-description{
		display:	block !important;
	}
	
}
*/

.europeana-bordered .galleria-info,
.europeana-carousel .galleria-info{
    display:	none; 
    width:		100%;
    max-width:	100%;
	top:		auto;
    left:		auto;
    bottom:		auto;
    
}

.galleria-info{
	cursor:		pointer;
    padding:	1em 1em 1em 1em;
}

#carousel-1-external-info,
.galleria-info-description,
.galleria-info-title{
    margin:			0;
    color: 			#fff;
    opacity:		1 !important;
	filter:			alpha(opacity=100)  !important;

	float:			left;
	line-height:	1.48em;
}

#carousel-1-external-info{
	float:				none;	
	padding:			1em 1em 1em 1em;
	background-color:	#000;
}

.galleria-info button{
	margin-top:			2em;
	text-align:			right;
	display:			none;
	float:				right;
	cursor:				pointer;
	font-size:			1em;
	background-color:	#0048ff;
	color:				white !important;
	
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#0048ff 0%,
		#4c7ecf);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0048ff),
		to(#4c7ecf));
	-moz-box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
}

/* footer */

.galleria-info-description{
	display:		none !important;
    padding-top:	0;
}

.europeana-bordered .galleria-info-description,
.europeana-carousel .galleria-info-description{
	display:	none !important;
}

@media only screen and ( min-width:767px ){
	.galleria-info {
	    top:					1em;
	    left:					3em;
	    right:					auto;
		max-width:				45%;
		max-height:				20em;
        bottom:					auto;
        margin-bottom:			0;
        -moz-border-radius:		0.8em;
		-webkit-border-radius:	0.8em;
		border-radius:			0.8em;
	}

	.galleria-info button{
		display:			block;
	}

	.galleria-info-description{
		display:	block !important;
		padding-top:	1em;
	}
	
	.galleria-info-title{
		font-weight:	600;
		font-size:		1.75em;
	}
}


@media only screen and (min-width: 48em) and ( max-width:62em ){
	.galleria-info button{
		display:		none;
	}
	
	.galleria-info-title{
		font-weight:	600;
		font-size:		1em;
	}
}

/*
@media only screen and ( min-width:767px ){
	
	.galleria-info {
	    top:				1em;
	    left:				1em;
	    
	    right:				auto;
	    max-width:			50%;
	}
	
	.galleria-info-description{
		display:	block !important;
	}
}
*/