/* footer */

    #footer {
        position: relative;
        z-index: 100;
        overflow: auto;
        width: 910px;
        margin: 0 auto 25px auto;
        padding: 3px 0 0 0;
        border-top: 1px solid #989696;
        text-align: right;
        color: #333;
    }
    
    #footer h1 {
    	height: 26px;
    }
    
    #footer a:link, #footer a:visited {
    	color: #333;
    }
    
    #footer a:hover { color: #ff00c2; }
    
    #footer .icons {
    	display: block;
    	margin-top: 1px;
    	width: 13px;
    	height: 13px;    	
    	background-image: url(../images/icons/sprite.png);
    	background-repeat: no-repeat;
    }
    
    #footer .eu {
    	width: 20px;
    	background-position: 0 -1419px;
    }