/* filter-search */
	
	#filter-search {
		border-bottom: solid 1px #c0c0c0;
	}
	
	#filter-search, #filter-search ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.sidebar h2, .sidebar h3 {
		font-size: 120%;
		margin-bottom: 10px;
	}
	
	.sidebar h3 {
		font-size: 100%;
	}

	#filter-search h3 {
		font-size: 100%;
		padding: 4px 0;
		border-top: solid 1px #c0c0c0;
	}
	
	a.facet-section, a.facet-ugc {
		display:				block;
		
		
		padding-left:			11px;
		
		
		
		color:					#333;
		background-image:		none;
		background-repeat:		no-repeat;
	}
	
	
	a.facet-section {
		padding-left:			17px;
		background-image: 		url(../images/icons/sprite.png);
		background-position:	left -1180px;
	}
	
	

	h3 a.ugc-checked{
		background-image:		url(../images/icons/checked.png);
	}
	
	h3 a.ugc-unchecked{
		background-image:		url(../images/icons/unchecked.png);	
	}
	
	h3 a.ugc-checked,  a.ugc-unchecked{
		margin-left:			0px;
		padding-left:			17px;
	}

	/* facet section items */
	
		#filter-search ul {
			overflow: auto;
			margin-bottom: 7px;
			display: none;
		}
		
		#filter-search h4 {
			font-size: 100%;
			padding: 4px 0;
			font-weight: normal;
		}
		
		#filter-search h4 a {
			display: block;
			background-image: url(../images/icons/sprite.png);
			background-repeat: no-repeat;
			background-position: -35px -1327px;
			padding-left: 30px;
			color: #333;
		}
		
		#filter-search h4 a.active {
			background-position: -13px -1349px;
		}
		
/* rights info */

	#rights-info {
		margin: 0 10px 10px 10px;
		padding: 4px 4px 4px 25px;
		
		background-color: #ccc;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: 5px -650px;
		
		border: solid  1px #c0c0c0;
	}
		