/* line 6, /Users/admin/Documents/PortalWorkspace/javaSass/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
body {
  background: orange;
  padding: 50px;
}

/* line 11, /Users/admin/Documents/PortalWorkspace/javaSass/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
h1 {
  font-size: 50px;
}

/* line 15, /Users/admin/Documents/PortalWorkspace/javaSass/sass-java/src/test/sample-webapp/WEB-INF/sass/application.scss */
h2 {
  font-size: 40px;
  padding-top: 20px;
  text-shadow: 3px 3px 1px magenta;
}
