/* carousel */

    .carousel {    
        position: relative;
        z-index: 100;
        width: 960px;
        height: 186px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .carousel-container {
    	/* width: 938px; /* 4 = 938, 2 = 469 */
    	position: relative;
    	width: 908px;
    	height: 186px;
    	overflow: hidden;
        margin: 0 9px 0 26px;
        float: left;
        opacity: 0;
    }
    
    .carousel-container.previous-added {
    	margin-left: 10px;
    }
    
    .carousel ul {
    	position: relative;
    	margin: 0;
    	padding: 0;
    }
    
    .carousel li {
        position: relative;
    	float: left;
    	list-style: none;
    	margin-right: 13px;
    	overflow: hidden;
    	height: 195px;
    }
    
    .carousel a {
    	display: block;
    }
    
    .carousel a.focus {
    	margin: 0;
    	padding: 0;
    	border: 1px solid red;
    }
    
   	a.carousel-control {
		display: none;
		float: left;
		margin-top: 80px;
		width: 16px;
		height: 26px;
		background-image: url(/portal/branding/portal2/images/icons/sprite.png );
		background-repeat: no-repeat;
		background-position: 0 -36px;
		background-color: #fff;
   	}
   	
   	
	a.carousel-control.previous {
	}
	
	a.carousel-control.previous:hover {
		background-position: 0 -108px;
	}
	
	
	a.carousel-control.next {
		background-position: 0 -72px;
	}
	
	a.carousel-control.next:hover {
		background-position: 0 -144px;
	}
    
    
    .carousel .hover-box {
        position: absolute;
        bottom: 9px;
        left: 0;
        width: 207px;
        line-height: 1.2;
        padding: 10px;
        color: #fff;
        background-color: #000;
        background-color: rgba( 0, 0, 0, 0.7 );
        overflow: hidden;
        min-height:	28px;
    }
