/* content */
	
    #content {
        position: relative;
        z-index: 100;
        width: 910px;
        margin: 0 auto 20px auto;
        padding: 0;
    }
    

/* common classes */

	.underline { text-decoration: underline; }
	.clear { clear: both; }
	.small { font-size: 90%; }
	a.block-link { display: block; line-height: 1.5; }
	
	.external {
		background-image: url(/portal/branding/portal2/images/icons/external.png);
		background-repeat: no-repeat;
		background-position: right -486px;
		padding-right: 20px;
	}
	
	a.external:hover {
		background-image: url(/portal/branding/portal2/images/icons/external.png);
		background-repeat: no-repeat;
		background-position: right 2px;
	}
	
	
	.submit-button {	   
		display: block;
		height: 22px;
		
        font-size: 100%;
        color: #fff;
        background-color: #9900ff; /* purple */
        /* background-color: #366ab2; blue */
        /* background-color: #e605bd; pink */
        
        cursor: pointer;
        margin: 2px 0 0 0;
        padding: 4px 8px 6px 8px;
        
        border: 0;
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
    }
	

/* sidebar */
    	
    .sidebar {
    	position: relative;
		overflow: hidden;
		float: left;
		width: 190px;
		padding: 10px;
		margin: 0 20px 0 0;
		background-color: #dfdfdf;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
    
    
/* breadcrumb */

	#breadcrumb {
		overflow: hidden;
		margin: 0 0 10px 0;
		padding: 0;
		list-style: none;
	}
	
	#breadcrumb li {
		float: left;
		margin-right: 5px;
	}
	
	.ui-error, .error {
		color: red;
	}
	
	.error-border {
		border: 1px dotted red !important;
	}
	
	.ui-info { color: blue; }
	
	
	.black { color: #000; }
	.bold { font-weight: bold; }
	
	
/* search-results */

	#search-results {
		position: relative;
		float: left;
		width: 680px;
		margin: 0;
		padding: 0;
		/*
		-moz-box-shadow: 0 0 5px #333;
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333;
        */
	}
	
	/* Fix for IE7 (hid text but overflow icons were still visible) */	
	#item-subject{
		position:relative;
	}

	/* toggle-menu-icon */
	a.toggle-menu-icon {
		display: inline-block;
		background-image: url(/portal/branding/portal2/images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: right -1561px;
		padding-right: 12px;
		min-width: 11px;
		min-height: 11px;
	}
	
	a.toggle-menu-icon.active {
		background-position: right -1545px;
	}


/* pagination */
	
	.pagination-next, .pagination-previous {
		min-width: 14px;
		min-height: 14px;
		background-image: url(/portal/branding/portal2/images/icons/sprite.png);
		background-repeat: no-repeat;
	}
	
	a.pagination-next {
		background-position: 0 -586px;
	}
	
	a.pagination-next:hover {
		background-position: 0 -602px;
	}
	
	a.pagination-previous {
		background-position: 0 -553px;
	}
	
	a.pagination-previous:hover {
		background-position: 0 -570px;
	}
		