/* addthis */

	.addthis {
		position: absolute;
		z-index: 200;
		top: 7px;
		right: 5px;
		min-width: 133px;
		max-width: 180px;
	}
	
	.at300b, .at300m { float: right; margin-right: 3px; }


/* navigation */
	
	#breadcrumb {
		height: 14px;
		margin: 0 0 10px 0;
	}
	
	.search-results-navigation {
		height: 27px;
		margin-bottom: 0px;
	}

	#content {
		margin-bottom: 0px;
	}

	#item-limit {
		display: none;
	}

	#tl {
		height: 455px;
		border: 1px solid #a0a0a0;
	}
	
	#query {
		border-bottom: none;
		height: 127px;
	}
	
	#header {
		margin : 0 auto;
	}
	

/* loader bubble */

	#loader-bubble {
		position: absolute;
		z-index: 1000;
		top: 30%;
		left: 50%;
		width: 100px;
		margin: -10% auto auto -93px;
		padding: 20px 40px;
		border: 3px solid #366ab2;
		background-color: #fff;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		-moz-box-shadow: 3px 3px 10px #666;
        -webkit-box-shadow: 3px 3px 10px #666;
        box-shadow: 3px 3px 10px #666;
	}
	
	#loader-bubble span {
	    white-space:nowrap;
		font-size: 120%;
		font-weight: bold;
		padding-left: 20px;
		background-image: url(../js/simile-widgets/timeplot-1.1/images/progress-running.gif);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	
	
/* map */

	#e4DContainer {
		position: relative;
		clear: both;
		margin: 0;
		width: 910px;
		height: 683px;
		overflow: hidden;
	}
	
	#e4DContainer-noresults {
		position:			absolute;		
		z-index:			2000;
		top:				0;
		left:				0;
		padding-top:		10%;
		width:				960px;
		color:				#000;
		/*background-color: #FFCC00;*/
		background-color:	#FFF;
		text-align:			center;
		vertical-align:		middle;
		height:				100%;
		font-size:			180%;
		font-weight:		bold;
		word-wrap:			break-word;
		
	}
	
/* map bubble */

div.bubble-content img{
	margin:				5px;
	float:				left;
}
div.bubble-content a{
	font-size:			13px;
}

div.bubble-content ul{
	margin-top:			5px;
}

div.bubble-content ul{
	list-style:				none;
}

div.bubble-content span.field-name{
	font-weight:		bold;
}