/* legend */

	#legend {
		margin-top: 70px;
	}
	
	#legend-icons {
		margin: 0 0 10px 0;
		padding: 10px 0;
		color: #333;
		border-top: 1px solid #c0c0c0;
		border-bottom: 1px solid #c0c0c0;
		overflow: hidden;
	}
	
	#legend-icons a {
		display: block;
		float: left;
		width: 60px;
		height: 20px;
		padding: 7px 0 7px 30px;
		color: #333;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
	}
	
	#legend-icons p { clear: left; }
	
	#legend-icons a.image {
		background-position: 5px -1053px;
	}
	
	#legend-icons a.video {
		background-position: 5px -1000px;
	}
	
	#legend-icons a.text {
		background-position: 8px -1104px;
	}
	
	#legend-icons a.sound {
		background-position: 5px -1133px;
	}
	
	#legend-icons a.threeD {
		background-position: 4px -969px;
	}	