@import "variables";

/* content-embed */	
	
#content-embed {
	margin: 0 25px;
}

#content-embed fieldset {
	border: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#content-embed textarea {
	width: 904px;
	height: 100px;
}