/* citation */

#citation {
	display:	none;
}


.overlaid-content .external-services-container-wrapper {
	text-align: left;
	margin:		0 auto;
	position:	relative;
	max-width:	90%;
}


#citetabs{
	padding: 1em;
}

/* accordion tabs override */

#citation-tabs.accordion-tabs{
	border-radius:	0;
	box-shadow:		none;	
}
#citation-tabs.accordion-tabs>.section>.content{
	border-radius:	0;
	box-shadow:		none;	
}
#citation-tabs.accordion-tabs>.section>a{
	border-radius:	0;
}

/* end accordion tabs override */

#citation h3 {
	font-size: 100%;
}

/*
#citation p {
	overflow: auto;
	padding: 20px;
}

#citation .header {
	font-weight: normal;
	padding: 10px 30px 10px 10px;
}
*/

/* end citation */



.external-services-container {
	height:				auto;
	background-color:	#fff;
	border-radius:		5px;
	-moz-box-shadow:	3px 3px 8px #dfdfdf;
	-webkit-box-shadow:	3px 3px 8px #dfdfdf;
	box-shadow:			3px 3px 8px #dfdfdf;
	overflow:			hidden;
	border:				1px solid #333;
	padding-top:		1em;
}

#citestyle0,
#citestyle1,
#citestyle2,
#citation-tabs .content{
	word-wrap:	break-word;
	word-break: break-all;
}

.external-services-container p {
   overflow:			hidden;
   word-wrap:			break-word;
   word-break:			break-all;
}

/*
.external-services-container .header {
	border-radius:		5px 5px 0px 0px;
	position:			relative;
	border-top: 		1px solid black;
	height:				25px;
	width:				auto;
	overflow:			hidden;
}
*/

.external-services-container a.close-button {
	position:			absolute;
	top:				0.25em;
	right:				0.25em;
	color:				#DADADA;
	z-index:			1;
}
	
.external-services-container a.close-button:hover {
	color:				#A0A0A0;
}

/*
.external-services-container .heading {
	padding: 	2px 0 0 7px;
	z-index:	200;
}

.external-services-container .services {
	padding: 10px 0 10px 10px;
}

.external-services-container .service {
	display: block;
}
*/


#citation-tabs  > .section > .content, #citation-tabs  > .section > a{
	border-left:	none;
	border-right:	none;
}

#citation-link{
	outline:	0;
	border:		0;	
}

#citation-tabs .tab_content .copy,
#citation-tabs .section .copy{
	display:	block;	
}

@media only screen and ( min-width:48em ){
	
	.external-services-container-wrapper {	
		width:		40% !important;
	}
	
	.external-services-container{
		padding:	1em;
	}

}

