@import "variables";

/* override header.css */
@media only screen and ( max-width:48em ){
	#logo-and-search{
		border-bottom:	none;
	}
}

/* start carousel pre-load height calculation */

#carousel-1-img-measure img,
#more-like-this .images img{
	display:			inline-block;
	vertical-align :	bottom;
}

#carousel-1-img-measure,
#more-like-this .images{
	position:		absolute;
	white-space:	nowrap;
}

#carousel-1 .galleria-info{
	display:    none;
	visibility: hidden;
}



/* end carousel pre-load height calculation */


#additional-info {
	width:				100%;
	position:			relative;
	padding:			0;
	
	padding-left:		1em;
	padding-right:		1em;
	
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
}

/*
#similar-content{
	width:			100%;
}
*/

.fulldoc-cell{
	display:		table;
	table-layout:	fixed;
	max-width:		100%;
	width:			100%;
}

.see-also-header,
.hierarchy-header{
	margin-top:    1.5em;
	margin-bottom: 0.5em;
	display: inline-block;
}


#geo-map{
	height:     25em;
	margin-top: 1.5em;
}

ul.geo-coordinates,
ul.geo-coordinates li{
	list-style: none;
	margin:     0;
	padding:    0;
}

.latLong,
#geo-map-info.uppercase {
	text-transform: capitalize;
}

#translate-container{
	position:	relative;
	top:		-0.5em;	
}


#carousel-1{	
	max-width:			220px;		/* max thumbanil size plus galleria stage offset (2 * 10) */
	width:				220px;
	min-with:			220px;
	/* background-color:	#d0d0d0; */
	background-color:	#fff;
	margin:				auto;
}


#more-like-this .carousel{
	width:		100%;				/* height set programatically. */
}

.addthis {
}


a.action-link {
	color:			#333;
	line-height:	1em;
	font-size:		1em;
}
a.action-link:hover{
	color:			#444;	
}

.shares-link .addthis_button{
	color:			#333;
}


#embed-link-wrapper{
	padding-left:		18px;
}

#format-link-wrapper{
	padding-left:		18px;
}

	
.sidebar-right{
	background-color:		#fff;
	padding:				1em;
	margin:					1em 0 1em 0;
	
	-moz-border-radius:		8px;
	-webkit-border-radius:	8px;
	border-radius:			8px;
	
	border:					1px solid #C9C9C9;
	
	box-shadow:				3px 3px 4px #C3C3C3;
	-moz-box-shadow:		3px 3px 4px #C3C3C3;
    -webkit-box-shadow:		3px 3px 4px #C3C3C3;
    
    z-index:				2;
    position:				relative;
}

.sidebar-right a{
	word-break:		break-all;
	word-wrap:		break-word;	/* IE9 */
} 


.sidebar-right strong{
	font-size:			0.875em;	
}

.sidebar-right div:first-child{
	margin-bottom:		1em;
}

.sidebar-right ul,
.sidebar-right li{
	list-style-type:	none;
	padding-left:		0;
	margin:				0;		
}


.sidebar-right ul{
	padding-top:	0.5em;
}
.sidebar-right ul li{
	margin-left:		1em;
	margin-bottom:		0.5em;	/* spacing the same as the metadata spacing on smnall devices */ 
	font-size:			0.75em;	
}


a.disabled:hover{
	color:		#2A85E8;
	cursor:		default;
}


div.actions{
	padding:		0.5em 1em 1em 1em;
}

a.action-link,
span.icon-share{
	font-size:	2em;
}

a.action-link:after,
span.icon-share:after{
    content:		"\a";
    white-space:	pre;
}

.icon-translate{
	font-size:		2em;
	margin-right:	4px;	
}

.icon-tag{
	font-size:		2em;
	margin-right:	4px;	
}

.icon-tag span{
	position:relative;
	left: -0.3em;
}
.icon-tag:before{
	margin-left: 0.2em;
}


/* action-title*/

label.icon-tag span,
a.action-link span,
.action-title{
	width:		auto !important;
	font-size:	.5em;
	position:	relative;
	top:		-.5em;
}

.icon-share{
	cursor:	pointer;
}

.icon-share .action-title{
	color:			#333;
	margin-left:	.5em;
}


#translate-item{
	position:	relative;
	top:		-.5em;
	color:		#333;	
}


#urlRefIsShownAt{
	margin-left:	0;
}


#excerpt{
	padding-left:	0;
	padding-top:	1.5em;
}

#main-fulldoc-area .hierarchy-header,
#main-fulldoc-area .hierarchy-objects{
	display:		none;	
}

#navigation {
	overflow:		auto;
	padding:		0;
	margin:			0;
	list-style:		none;
	width:			100%;
	border-bottom:	1px solid #E4E4E4;
	margin-bottom:	1em;
	padding-top:		0.75em;
	/*
	padding:			0.75em 0 0.75em 0;
	padding-left:		0;
	padding-right:		0;
	*/
	padding-bottom:		0.75em ;

}

#navigation.hidden{
	border-bottom:	none;
	padding-bottom:	0;
}

#navigation li,
.navigation li {
	display:	inline;
}

#navigation li,
.navigation li a{
	max-height:		1.48em;	/* stop link hover underline pushing content around */
	line-height:	1.48em;
}

#item-save-tag{
	margin-bottom: 1em;
}


#item-save-tag input{
	outline-width:			0;
	outline:				none;
	border:					0;
	padding:				4px;
	margin:					0;
	font-size:				1.1em;
}


#item-save-tag #item-tag{
	border:	1px solid #A0A0A0;
	float:	left;
	width:	100%;
	
	-moz-border-radius:					0.5em;
	-webkit-border-radius:				0.5em;
	border-radius:						0.5em;
	
	-moz-border-top-right-radius:		0;
	-moz-border-bottom-right-radius:	0;

	-webkit-border-top-right-radius:	0;
	-webkit-border-bottom-right-radius:	0;

	border-top-right-radius:			0;
	border-bottom-right-radius:			0;
	
}

#item-save-tag #item-tag-submit{
	color:								white;
	background-color:					blue;
	margin-left:						0px;

	-webkit-appearance:					none;

	border:								0;
	border:								1px solid blue;
	
	float:								right;

	-moz-border-radius:					0.5em;
	-webkit-border-radius:				0.5em;
	border-radius:						0.5em;
	
	-moz-border-top-left-radius:		0;
	-moz-border-bottom-left-radius:		0;

	-webkit-border-top-left-radius:		0;
	-webkit-border-bottom-left-radius:	0;

	border-top-left-radius:				0;
	border-bottom-left-radius:			0;
}


#item-save-tag span {
	overflow:	hidden;
	display:	block;
}

.tags{
	margin: 1em 0 1em 0;
}

.tag{
	float:				left;
	margin:				0.25em 0.25em 0 0;
	background-color:	#DCDCDC;
	white-space:		nowrap;
	border-radius:		0 0.5em 0.5em 0;
	display:			table-row;	
}

.tags:after {
   content:		" "; /* clearfix */
   visibility:	hidden;
   display:		block;
   height:		0;
   clear:		both;
}

.tag .text{
	padding:			0.2em;
	display:			table-cell;	
}

.tag .icon-remove{
	border-radius:		0 0.5em 0.5em 0;
	background-color:	#F1F1EE;
	color:				#F22F24;
	cursor:				pointer;
	display:			table-cell;
	padding:			0.1em 0 0 0.2em;
	text-align:			center;
	vertical-align:		middle;	
}


@media only screen and ( min-width:48em ){
		
	.see-also-header,
	#more-like-this-wrapper,
	.hierarchy-header{
		padding-left:2em;		
	}
		
	/* links */

	div.actions{
		padding:		0 0 0.5em 0;
		max-height:		none;
	}

	
	a.action-link, span.icon-share {
		float:			none;
		margin-left:	0;
	}
	
	#urlRefIsShownAt{
		display:	inline;
	}
	
	.action-title{
		display:		inline;
	}
	
	#excerpt{
		padding-left:	2em;
		padding-top:	0;
	}
}

/*
from search.css:
@media only screen and (min-width: 48em) and ( max-width:62em ){
*/


.hide-on-x	{display:none  !important;}		
.show-on-x	{display:block !important;}

@media only screen and ( min-width:	62em ){
	
	#main-fulldoc-area .hierarchy-objects{
		float: 			none;
		width: 			auto;
		max-width:		none;
		margin-left:	1em;
		margin-top:		0em;
		display:		block;	
	}
	#main-fulldoc-area .hierarchy-header{
		display:		block;	
	}
	
	.hide-on-x	{
		display:		block	!important;
	}
	
	.show-on-x{
		display:		none !important;
	}
	
	.sidebar-right{
		float:			right;
		margin:			0 0 1em 1em;
		max-width:		30%;
		white-space:	normal;
		word-break:		break-all;
	}
	
	.sidebar-right ul{
		padding-top:	0;
	}	
	
	.sidebar-right ul li{
		margin-bottom:	0; 
	}
		
}



#phone-object-title{	/* title for phone only */
	width:		100%;
	text-align:	center;
}




/* img */

img.trigger{
	display:	block;
	max-width: 200px;
}

	
/* Navigation (return to search results, previous, next) */

/* Full doc navigation appears to be in the header - override header's bottom border and add the same border to under the nav links  */

#header{
	border-bottom:	0;
}
	

#item-details h1,
#additional-info h2{
	margin-bottom:	.75em;
}

	
/* pagination */

.pagination-previous, .pagination-next {
	float: right;
}

.pagination-next {
	margin-left: 1.5em;
}

.concept ul li,
.concept ul li p{
	margin-bottom:	0.25em;
	margin-top:		0.25em;
}

.concept,
.item-context-data,
.item-metadata {
	margin-bottom:	1em;
}
.item-metadata>.bold {
	/*
	margin-bottom:	0.5em;
	*/
}

.item-metadata.breakable{
  word-wrap: break-word;
}

.contextual-body{
	XXXdisplay: inline;
}

.item-metadata > p,
.contextual-body > p{
	margin-top:	0;
	margin-bottom:	0;
	XXXXdisplay: inline;
}


.item-metadata a{
	word-break:		break-all;
	XXXdisplay:		inline-block;
} 

.external.item-metadata {
	display : block;
}

a.item-metadata.image {
	width: 200px;
	display: block;
}


/* full excerpt */
/*
h1 {
	font-size: 180%;
}
*/

.item-metadata h2 {
	display: inline;
	font-size: 100%;
	color: #333;
	font-weight: normal;
}

#lightbox .item-metadata h2 {
	color: #fff;
}

	
/* item-collection */

#item-collection {
	list-style: none;
}

#item-collection li {
	float: left;
	margin-right: 20px;
}

#item-collection .selected {
	border: 1px solid black;
}


.rights-badge{
	display:		table-row;
	width:			100%;
	color:			#333 !important;
	font-size:		1.5em;
}


.rights-badge span.rights-cell{
	display: table-cell;
}

.rights-badge span.rights-icon{
	padding-right:	0.25em;
	color:			#888;
}

.rights-badge span.icon-external-right{
	/*
	position:		relative;
	top:			0.2em;	
	*/
}

.rights-badge .rights-text{
	font-size:	0.75em;
	color:		#888;
	position:   relative;
	top:        -0.27em;
	left:       0.1em;
}

.rights-badge span.rights-expiry{
	white-space:	nowrap;
}


/* additional-actions */

#additional-actions {
	padding: 10px;
	background-color: #dfdfdf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
   
#item-save-tag fieldset {
	margin:   0;
	padding:  0;
	overflow: hidden;
	display:  block;
}

/*
#item-save-tag input[type=text] {
	margin: 2px 0;
	width: 180px;
}
   
#item-save-tag input[type=submit] {
	margin-bottom: 4px;
}

*/

/* translation-services */

#translation-services {
	position: relative;
	display: none;
	margin: 5px 0 0 0;
}

.translatedFromLabel{
	display: inline-block;
	margin-left: 2em;
	margin-bottom: 1em;
}

#translate-with-google,
#translate-with-microsoft {
	display: inline-block;
}

#google-translate-element,
#microsoft-translate-element {
	margin-bottom: 0.75em;
}

#microsoft-translate-element select {
	margin:			0;
	margin-bottom:	1em;
	width:			100%;
	font-size:		1.25em;
}
	

#additional-info .original-context {
	margin-top:		1em;
	/*
	word-wrap:		break-word;
	word-break:		break-all;
	white-space:	normal;
	*/
}

#additional-info .original-context-inner{
	border-top:		1px solid #AAAAAA;
	margin-top:		1em;
	padding-top:	1em;
}

#additional-info .icon-ugc{
	display:   		inline-block;
	margin-right:	0.25em;
	font-size:		1.5em;
	position:		relative;
	top:			0.18em;
	margin-left:	0.1em;
}
				
@media only screen and ( min-width:48em ){
	
	.rights-badge{
		font-size:	1em;
	}
	
	#additional-info .original-context{
		margin-bottom:		1em;
	}
	
	#additional-info .icon-ugc{
		font-size:		1em;

	}
	
	
	#microsoft-translate-element select {
		width:		auto;
		font-size:	0.8em;
		display:	block;
	}

}


	

/* fields-enrichment */

#auto-generated-tags,
#fields-enrichment h4 {
	margin-top: 12px;
	font-size: 100%;
	font-weight: normal;
}


.concept li,
#fields-enrichment {
	margin: 0;
	padding: 0;
}

.concept li,
#fields-enrichment li {
	list-style: none;
}

.concept ul,
#fields-enrichment ul {
	margin: 0;
	padding: 0.5em 0;
	display: none;
}
#fields-enrichment ul ul ul{
	display: block;
}

.concept .smaller, h1 .smaller {
	font-size: 0.8em;
	position: relative;
	top: -0.2em;
}
.concept .smaller.icon-arrow-6-right:after,
.concept .smaller.icon-arrow-7-right:after,
h1 .smaller.icon-arrow-6-right:after,
h1 .smaller.icon-arrow-7-right:after {
	font-size: 1.2em;
	position: relative;
	top: 0.2em;
}

.concept a.more-info {
	color: #333;
}

/*
h1 a.more-info {
	color: #333;
}
*/

div.lb-trigger {
	position:	absolute;
	bottom:		0;
	left:		0.25em;
	cursor:		pointer;
	z-index:	30;
}

div.lb-trigger .icon-magplus{
	color:			white;
	text-shadow:	0 0 2px #000000;
	
	filter: Shadow(Color=#000, Direction=45, Strength=2),
			Shadow(Color=#000, Direction=135, Strength=2),
			Shadow(Color=#000, Direction=225, Strength=2),
			Shadow(Color=#000, Direction=315, Strength=2);
	background-clip:	text;
	
}
