@import "variables";

/* explore further */

#explore {
	margin: 20px 0 7px 0;
	font-size: 180%;
}

#explore-further {
	margin: 1em 0 0 0;
	padding: 0;
}

#explore-further h3 {
	display: inline;
	font-size: 110%;
	font-weight: normal;
}

#explore-further ul {
	margin: 0 0 10px 0;
	padding: 0;
	overflow: auto;
}

#explore-further ul li {
	list-style: none;
	float: left;
	margin: 0 10px 0 0;
}


/* similar content */

#similar-content {
  	display:		none;
  	padding-top:	2em;
}
   	
   	
/* related-content */

#related-content {
	display: none;
	margin-top: 10px;   	
}
  	
#related-content .parent {
	margin-bottom: 10px;
}
  	
   	
/* carousel */

.carousel {
    width: 460px;
    border-bottom: none;
}

.carousel li {
	margin-right: 10px;
}

.carousel-container {
	width: 390px;
	height: 98px;
    margin-left: 26px;
    padding-top: 0;
}

.carousel-container.previous-added {
	margin-left: 10px;
}

a.carousel-control {
	margin-top: 30px;
}
   	