
html,
body{
	padding:0;
	margin:0;
	height:	100%;
	overflow:hidden;
}


#mc-embedded-subscribe-form{
	
}
	
#mc-embedded-subscribe-form input{
	color:				#333;
	border:				1px solid #a0a0a0;
	font-size:			1.2em;
	outline:			none;
}


#mc-embedded-subscribe-form ul{
	list-style:	none;
	margin:		0;
	padding:	0;



	/* override centre */	
	margin:				1em auto;
	position:			relative;
	display:			inline-block;
	text-align:			left;
	
}


#mc-embedded-subscribe-form #mce-EMAIL{
	
}


#mc-embedded-subscribe-form input[type=submit],
#mc-embedded-subscribe-form input[type=text],
#mc-embedded-subscribe-form input[type=email],
#mc-embedded-subscribe-form #label-mce-EMAIL{
	width:				80%;
	margin:				0.5em auto 0 auto;
	position:			relative;
	display:			block;
}

#mc-embedded-subscribe-form input[type=checkbox],
#mc-embedded-subscribe-form label{
	display:			inline-block;
}



#newsletter_signup{
	padding:0;
	margin:0;
	text-align:center;
}


#newsletter_signup input[type=submit]{
	cursor:			pointer;	
}


label{
	position:	relative;
	top:		0.12em;
}


#newsletter_signup input[type=submit],
#newsletter_signup input[type=text],
#newsletter_signup input[type=email]{
	width:				80%;
	margin:				0.5em auto 0 auto;
	position:			relative;
	display:			block;
}

#mc-embedded-subscribe-form .clear{
	position: absolute;
	bottom: 0;
	margin-bottom: 1em;
	width:100%;
}

body{
	margin:0;
	padding:0;
	width:	100%;
	height:	100%;
	max-width:100%;
}


.phone input[type=text],
.phone input[type=email],
.phone input[type=submit]{
	width:				100%;
}
.phone input[type=submit]{
	top:				4em;
}