
#registration-content{
	padding-top:	1em;
	padding-bottom:	2em;
}

#registration-content input{
	border: 1px solid #e4e4e4;	
}

#registration-content label{
	display:	block;
}

#registration-content{
	padding-top:	1em;
}


#registration-content h3{
	padding-bottom:	1em;
	padding-top:	1.5em;
}



#agree{
	padding-top:	2em;
	padding-bottom:	0em;
	text-align:		center;
}

#submit-row{
	text-align:		center;
}

#submit_registration{
	font-size:	1em;
	display:	inline;
	margin-top:	1.5em;
}

#registration-content input[type='text'], #registration-content input[type='password'], #registration-content label, #registration-content select{
	font-size:	1.4em;
	margin-top: 0.7em;
}


input[type='text'], input[type='select'], input[type='password']{
	width:	100%;
}

input[type='checkbox']{
	position:	relative;
}

#disclaimer, #disclaimer-label{
	display:	inline !important;
}


#register-success, .agree-wrapper{
	text-align:	center;
}


#registration-content .info{
	padding-top:	0.5em;	
}

#registration-content .error{
	font-style:		italic;
	font-size:		0.75em;
}

#registration-content .help{
	padding-top:	1em;	
	padding-bottom:	0.5em;
	font-size:		0.75em;
	font-style:		italic;
}


@media all and (min-width: 48em) {
	
	#registration-content fieldset{
		padding-top:	1.5em;
	}
	
	#registration-content h3{
		padding-top:	0.25em !important;
	}
	
}


@media only screen and ( min-width:48em ){

	#registration-content input[type='text'], #registration-content input[type='password'], #registration-content label, #registration-content select{
		font-size:	1em;
		margin-top: 0.5em;
	}
	
}
