/**
 *	menu-main
 *	@link inspired by http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/
 */
	#menu-main {
		position: absolute;
		top: 0;
		right: 25px;
		list-style: none;
		margin: 0;
		padding: 0;
		z-index: 1000;
	}
	
	#menu-main li {
		float: left;
		margin-left: 10px;
	}
	
	#menu-main a {
		display: block;
	}


/**
 *	menu-sub level 1
 */	
	#menu-main ul {
		position: absolute;
		margin: 0; padding: 0;
		margin-top: -499px; /* at least the height of the drop-down, countered below  */
		list-style: none;
	}
	
	#menu-main ul li {
		float: none;
		margin-left: 0;
	}
	
	#menu-main li:hover ul {
		margin-top: 0; /* counters -margin-top in order to reveal drop-down menu */
	}


/**
 *	index carousel
 */
	#index-carousel {
		height: 187px;
	}


/**
 *  carousel captions
 */
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96.5%;
    text-align: left;
    line-height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.7);
    color: #f5f5f5;
    padding: 5px 7px;
    font-size: 90%;
    line-height: 140%;
  }


/**
 *	rcarousel
 *  on the containing ul
 *  - set height
 *  - set background
 */
	.rcarousel {
		position: relative;
		overflow: hidden;
	}
	
	.rcarousel-overlay {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		background-image: url('/portal2/themes/common/images/icons/loading-animation.gif');
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.rcarousel ul {
		position: relative;
		margin: 0 0 0 0;
		padding: 0;
	}
	
	.rcarousel li {
		position: relative;
		overflow: hidden;
		display: inline-block;
		line-height: 0;
		vertical-align: middle;
		text-align: center;
	}
	
	.rcarousel img,
	.rcarousel iframe,
	.rcarousel video {
		max-width: 100%;
	}
	
	.rcarousel video {
		max-height: 400px;
	}
	
	.rcarousel a {	
		position: relative;
		display: inline-block;
	}
	
	.rcarousel input {
		position: absolute;
		opacity: 0.8;
		-webkit-transition: opacity .3s ease-out;
		-moz-transition: opacity .3s ease-out;
		-ms-transition: opacity .3s ease-out;
		-o-transition: opacity .3s ease-out;
		transition: opacity .3s ease-out;
	}
	
	.rcarousel input.large {
		top: 50%;
		margin-top: -50px;
	}
	
	.rcarousel input.medium {
		top: 50%;
		margin-top: -40px;
		width: 59px;
		height: 75px;
	}
	
	.rcarousel input.small {
		top: 50%;
		width: 39px;
		height: 50px;
		margin-top: -25px;
	}
	
	.rcarousel input:hover {
		opacity: 1.0;
	}
	
	.rcarousel input[data-dir="next"] {
		right: 0;
	}
	
	.rcarousel input[data-dir="prev"] {
		left: 0;
	}
	
	.rcarousel iframe {
		max-width: 82%;
	}