
.accordion-tabs{
	margin:				1em auto;
	position:			relative;
	padding:			0;
	background-color:	#fff;
	border-radius:		8px;
}


.accordion-tabs>.section>a{
	border:		1px solid #d6d6d6;
}
.accordion-tabs>.section:not(:first-child)>a{
	border-top:	none;
}

.accordion-tabs>.section>.content{
	border:			1px solid #d6d6d6;
	border-top:		none;
	border-radius:	0 0 8px 8px;
}


.accordion-tabs .section a{
	display:			block;
	padding:			0.25em 1em;
	text-decoration:	none;
	color:				#2A85E8;
	outline:			0;
	border-radius:		8px 8px 0 0;
}

.accordion-tabs .section a:hover{
	text-decoration:	underline;
}

.accordion-tabs .section.disabled{
	background-color:	#ddd;
}
	
.accordion-tabs .section a:hover, .accordion-tabs .section.active a{
	color:		#666666;
}

.accordion-tabs .section.disabled a:hover{
	text-decoration:	none;
	color:				#2A85E8;
}

.accordion-tabs .content{
	display:	none;
	overflow:	hidden; 
	padding:	1em;
}

.accordion-tabs .section.active .content{
	display:	        block;
	left:				0;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	
	width:				100%;
	height:				100%;
}


.tab_content{
	display:		none;
	max-width:		100%;
	margin-top:		-1px;
	height:			100%;
}

.is-open{
	display:	block !important;
}


@media only screen and ( min-width:48em ){


	.accordion-tabs{
		box-shadow:			none;
		border-radius:		0;
		
	}
	
	.accordion-tabs .section{
		display:				inline-block;

		-moz-border-radius-topleft:		5px;
		-moz-border-radius-topright:		5px;

		-webkit-border-top-left-radius:		5px;
		-webkit-border-top-right-radius:	5px;
	
		border-top-left-radius:			5px;
		border-top-right-radius:		5px;
		
		margin-right:0.5em;
	}


	.accordion-tabs .section{
		border:				1px solid #d6d6d6;
		box-shadow:			7px 0 4px -5px #C3C3C3; 	/* tab-header box-shadow */
		background-color:	white;
	}

	.accordion-tabs .tab_content{
		border-top:	1px solid #d6d6d6;
	}

	.accordion-tabs .section.active{
		border-bottom:	1px solid #fff;
	}

	.accordion-tabs .section.active .content{
		position:           absolute;
	}

	.accordion-tabs .tab_content{
		box-shadow:		3px -2px 6px -2px #C3C3C3;	/* tab-content box-shadow */
		border-radius:	0 8px 8px 0;
		display:		block;
	}

	.accordion-tabs>.section>a{
		border:		none;
	}

}

