
.accordion-tabs{
	margin:				1em auto;
	position:			relative;
	padding:			0;
	background-color:	#fff;
}


.accordion-tabs>.section>a{
	border:		1px solid #a0a0a0;
}
.accordion-tabs>.section:not(:first-child)>a{
	border-top:	none;
}

.accordion-tabs>.section>.content{
	border:		1px solid #a0a0a0;
	border-top:	none;
}


.accordion-tabs .section a{
	display:		block;
	padding:		0.25em 1em;
	text-decoration:	none;
	color:			#2A85E8;
	outline:		0;
}

.accordion-tabs .section a:hover{
	text-decoration:	underline;
}

.accordion-tabs .section a:hover, .accordion-tabs .section.active a{
	color:		#666666;
}

.accordion-tabs .content{
	display:	none;
	overflow:	hidden; 
	padding:	1em;
}

.tab_content{
	display:		none;
	max-width:		100%;
	margin-top:		-1px;
}

.is-open{
	display:	block !important;
}


@media only screen and ( min-width:48em ){

	.accordion-tabs .section{
		display:				inline-block;

		-moz-border-radius-topleft:		5px;
		-moz-border-radius-topright:		5px;

		-webkit-border-top-left-radius:		5px;
		-webkit-border-top-right-radius:	5px;
	
		border-top-left-radius:			5px;
		border-top-right-radius:		5px;
	}


	.accordion-tabs .section{
		border:		1px solid #a0a0a0;
	}

	.accordion-tabs .tab_content{
		border-top:	1px solid #a0a0a0;
	}

	.accordion-tabs .section.active{
		border-bottom:	1px solid #fff;
	}


	.accordion-tabs .tab_content{
		display:	block;
		padding:	1em;
	}

	.is-open{
		display:	none !important;
	}
	
	.accordion-tabs>.section>a{
		border:		none;
	}

}

