/* content */


/* common classes */

.collapse-icon{
	float:	right;
}


	.underline { text-decoration: underline; }
	.clear { clear: both; }
	.small { font-size: 90%; }
	
	/*
	a.block-link { display: block; line-height: 1.5; }
	*/
	.external {
		background-image: url(../images/icons/external.png);
		background-repeat: no-repeat;
		background-position: right -486px;
		padding-right: 20px;
	}
	
	a.external:hover {
		background-image: url(../images/icons/external.png);
		background-repeat: no-repeat;
		background-position: right 2px;
	}
	
	/*
	.submit-button {	   
		display: block;
		height: 22px;
		
        font-size: 100%;
        color: #fff;
        background-color: #9900ff;
        
        cursor: pointer;
        margin: 2px 0 0 0;
        padding: 4px 8px 6px 8px;
        
        border: 0;
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
    }
	*/	


/* sidebar */

    .sidebar {
    	position: relative;
		/*
		overflow: hidden;
		float: left;
		width: 190px;
		padding: 10px;
		*/
		background-color: #dfdfdf;
	}


/* Footer */

	#footer-addthis{
		float:left;
	}

	/* #container { */
	#social-links {
	    text-align:			justify;
	    -ms-text-justify:	distribute-all-lines;
	    text-justify:		distribute-all-lines;
	}
	
	#social-links .social-link{
	    float:			none;
		color:			#FF75A3;
	    display:		inline-block;
	    *display:		inline;
	    zoom:			1;
	}
	
	
	.stretch {
	    width:			100%;
	    display:		inline-block;
	    font-size:		0;
	    line-height:	0;
	}

	/*
	#social-links, #footer-subscribe{
		font-size:	2em;
	}
	*/
	#social-links{
		font-size:	2em;
	}

	#social-links span{
		font-size:	1.5em;
	}
	
	#social-links span:first-child{
		margin-bottom:	1em;
		font-size:		1em;
	}

	#footer-subscribe input{
		float:			left;
		clear:			left;
		width:			100%;
		max-width:		100%;
		
		margin-top:				0.2em;
		margin-bottom:			0.2em;
		padding:				2px 0px;
		color:					#333;
		border:					1px solid #a0a0a0;
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		border-radius:			5px;
		
		font-size:				1.2em;		
	}

	#footer-subscribe input[type=submit]{
		background-color:	blue;
		color:				white;
		border:				0;
	}

	@media only screen and ( min-width:48em ){	/* ipad */
		#social-links .social-link{		
			width:	auto !important;
			float:	left;
		}
		
		#footer-subscribe input[type=submit]{
			width:				auto;
		}

	}

	.ie8 #social-links .social-link{		
		width:	auto !important;
		float:	left;
	}
		
	.ie8 #footer-subscribe input[type=submit]{
		width:	auto;
	}
	
	
	.italic-heading{
		font-weight:	normal;
		font-style:		italic;
		font-size:		1.5em;
		display:		block;
	}


@media only screen and ( min-width:48em ){
	.sidebar {
		xmargin: 0 20px 0 0;
	}	
}

.ie8 .sidebar {
	xmargin: 0 20px 0 0;
}	

    
/* search-filter (was breadcrumb) */
/* moved to sidebar-facets.css */
/*
	#search-filter {
		overflow: hidden;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	#search-filter ul{
		list-style: none;
	}
*/
/* end search-filter (was breadcrumb) */


	.ui-error, .error {
		color: red;
	}
	
	.error-border {
		border: 1px dotted red !important;
	}
	
	.ui-info { color: blue; }
	
	
	.black { color: #000; }
	.bold { font-weight: bold; }
	
	
/* search-results */

	#search-results {
	/*
		position: relative;
		float: left;
		width: 680px;
		margin: 0;
		padding: 0;
		*/
		/*
		-moz-box-shadow: 0 0 5px #333;
        -webkit-box-shadow: 0 0 5px #333;
        box-shadow: 0 0 5px #333;
        */
	}
	
	/* Fix for IE7 (hid text but overflow icons were still visible) */	
	#item-subject{
		position:relative;
	}

	/* toggle-menu-icon */
	a.toggle-menu-icon {
		display: inline-block;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: right -1561px;
		padding-right: 12px;
		min-width: 11px;
		min-height: 11px;
	}
	
	a.toggle-menu-icon.active {
		background-position: right -1545px;
	}


/* pagination */
	
	.pagination-next, .pagination-previous {
		min-width: 14px;
		min-height: 14px;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
	}
	
	a.pagination-next {
		background-position: 0 -586px;
	}
	
	a.pagination-next:hover {
		background-position: 0 -602px;
	}
	
	a.pagination-previous {
		background-position: 0 -553px;
	}
	
	a.pagination-previous:hover {
		background-position: 0 -570px;
	}
		