/* content */


/* common classes */

.collapse-icon{
	float:			right;
	padding-top:	1em;
	padding-bottom:	1em;
}


.underline { text-decoration: underline; }
.clear { clear: both; }
.small { font-size: 90%; }
	


/* sidebar */

.sidebar {
	position: relative;
	background-color: #dfdfdf;
}


/* Footer */

#footer-addthis{
	float: left;
}

/* #container { */
#social-links {
	text-align:			justify;
	-ms-text-justify:	distribute-all-lines;
	text-justify:		distribute-all-lines;
	max-height:			2em;
}
	
#social-links .social-link{
	float:		none;
	xxxxxxxxxcolor:		#0075FF;
	display:	inline-block;
	*display:	inline;
	zoom:		1;
	width:		auto !important;
	cursor:		pointer;
	overflow:	hidden;
}

.social-link.icon-facebook{
	color:		#3b5998;
}
.social-link.icon-twitter{
	color:		#00a0d1;
}
.social-link.icon-pinterest{
	color:		#00a0d1;
}
.social-link.icon-blog{
	color:		#db4a39;
}
 




#social-links .social-link span.text{
	font-size:		0.4em;
	position:		relative;
	bottom:			0.75em;
	display:		none;
	color:			#333;
	margin-left:	0.25em;
}
	
.stretch {
	width:			100%;
	display:		inline-block;
	font-size:		0;
	line-height:	0;
}


#social-links{
	font-size:	2em;
}

#social-links a{
	font-size:	1.5em;
}
	
#social-links span:first-child{
	margin-bottom:	1em;
	font-size:		1em;
}

#footer-subscribe{
	margin-top:		2em;
}

#footer-subscribe input{
	float:				none;
	
	margin-top:			0.8em;
	margin-bottom:		2em;
		
	padding:			2px 0px;
	color:				#333;
	border:				1px solid #a0a0a0;
	
	font-size:			1.2em;
	width:				100%;		
}

#urlRefIsShownAt{
	zzzcolor:	#333;
}


#e2ma_signup_reset_button,
.e2ma_signup_form_label,
.e2ma_signup_form_required_footnote{
	display:	none;
}

#e2ma_signup_submit_button,
.deans-button-1{
	background-color:		#0048ff;
	color:					white !important;
	
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#0048ff 0%,
		#4c7ecf);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0048ff),
		to(#4c7ecf));
	-moz-box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		3px 3px 13px rgba(51,51,51,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	
}
	
#e2ma_signup_submit_button,
.europeana-button-1{
	border:					0 !important;
	padding:				0.5em 0.5em !important;
	margin:					0;
	-webkit-appearance:		none;
	-moz-border-radius:		0.5em 0.5em 0.5em 0.5em;
	-webkit-border-radius:	0.5em 0.5em 0.5em 0.5em;
	border-radius:			0.5em 0.5em 0.5em 0.5em;
}

		

#id_email::-webkit-input-placeholder{
	color: #999;
}

#id_email:-moz-placeholder{
	color: #999;
}

#id_email:-ms-input-placeholder{
	color: #999;
}


#footer-links-all{
	margin-top:	1em;	
}

.footer-links{
	list-style-type:	none;
	padding-left:		0;
}

.footer-links li{
	padding-right:	2em;
	color:			white;
}

.footer-links .icon-logo{
	position:		relative;
	top:			0.25em;
	margin-right:	0.25em;
	font-size:		1.5em;
}

#link-logo-1{
	color:	#;
}

#link-logo-2{
	color:	#;
}

#link-logo-3{
	color:	#;
}

#link-logo-4{
	color:	#;
}

#link-logo-5{
	color:	#;
}
 

/*
.footer h3,
.footer h3 a,
.footer-links li a{
	color:			white;
}
*/
	
.italic-heading{
	font-weight:	normal;
	font-style:		italic;
	font-size:		1.5em;
	display:		block;
}



@media only screen and ( min-width:48em ){
	
	#footer-links-all{
		margin-top:	2em;	
	}
	
	#social-links .social-link{
		float:			left;
		min-width:		50%;
		height:			1.5em;
		margin-bottom:	0;
	}	
	
	#social-links .social-link span.text{
		display:		inline;
	}
	
	#footer-subscribe{
		margin-top:			0;
	}
	
	#footer-subscribe input{
		width:				45%;
		max-width:			45%;
		
		float:				right;
		margin-top:			0.8em;
		margin-bottom:		1em;

		color:				#333;
		border:				1px solid #a0a0a0;
		font-size:			1.2em;		
			
		
	}
	#footer-subscribe input[type=text],
	#footer-subscribe input[type=email]{
		float:				left;
		margin-top:			1em;
		padding:			0.3em;
	}
	
	#footer-subscribe span{
		display:	block;
		clear:		both;
		font-size:	0.75em;
		color:		#999;
	}
	
}






.ie8 .sidebar {

}	


.ui-error, .error {
	color: red;
}


.error-border {
	border: 1px dotted red !important;
}
	
.ui-info { color: blue; }

.black { color: #000; }
.bold { font-weight: bold; }


/* search-results */

	
/* Fix for IE7 (hid text but overflow icons were still visible) */	
#item-subject{
	position:relative;
}
