
.eu-menu.selected span.open-menu{
	text-shadow:	0 5px 1px #4C7ECF;	
}
.eu-menu.no-highlight span.open-menu{
	text-shadow:	none;
}

.eu-menu.selected .item.active{
	box-shadow:			inset 0 0 4px #4C7ECF;
}


.eu-menu.no-highlight .item.active{
	box-shadow:			none;
}


.eu-menu{
	display:				inline-block;/* !important;*/
	float:					none;
	padding-left:			0.15em;
	padding-bottom:			0.18em;
	position:				relative; 
	text-align:				left;
	top:					0.03em;
	z-index:				11;	
}

.eu-menu a {
	text-decoration:	none;
	color:				#444444;
	cursor:				pointer;
}

.eu-menu span{
	line-height:	inherit;
}

.eu-menu a:hover,
.eu-menu .item:focus a,
.eu-menu .item a:focus{
	text-decoration:	underline;
}

.eu-menu .top {
	background-color:	#DDD;
}

.eu-menu ul{
	list-style-type:	none;
	position:			absolute;
	margin:				0px;
	padding:			0px;
	
	
	z-index:	200;

	/* show max 10 items  */
	max-height:			20em;
	
	overflow-x:			hidden;
	overflow-y:			auto;
}

.eu-menu .item {
	display: 			none !important;
	border-radius:		0 0 0.25em 0.25em;
	margin-top:			0.1em;
	padding:			0.2em 0.6em 0.1em 0.6em;
	border:				1px solid #e4e4e4;
	background-color:	#F5F5F5;
	white-space:		nowrap;
	z-index:	200;
}


.eu-menu.active .item {		/* shown items */
	display:			block !important;
}
