
.eu-menu.selected span.open-menu,
.eu-menu.selected .item.active{
   	text-shadow:0 0 3px #FF0000;
}

.eu-menu{
	position:				relative; 
	display:				inline-block;
	float:					right;
	z-index:				2;	

	float:					none;
	text-align:				left;
	
	
	border:					1px solid #e4e4e4;

	top:					0.03em;
	padding-left:			0.15em;
	padding-bottom:			0.18em;

	-moz-border-radius:		0.5em 0 0 0.5em;
	-webkit-border-radius:	0.5em 0 0 0.5em;
	border-radius:			0.5em 0 0 0.5em;
}

.eu-menu a {
	text-decoration:	none;
	color:				#444444;
}

.eu-menu span{
	line-height:	inherit;
}

.eu-menu a:hover{
	text-decoration:	underline;
}

.eu-menu .top {
	background-color:	#DDD;
}

.eu-menu ul{
	list-style-type:	none;
	position:			absolute;
	margin:				0px;
	padding:			0px;
}

.eu-menu .item {	/* hidden items */
	display: 			none;
	border-radius:		0 0 0.25em 0.25em;
	margin-top:			0.2em;
	padding:			0.19em 0.6em 0.1126em;
	border:				1px solid #e4e4e4;
	background-color:	#F5F5F5;
	white-space:		nowrap;
	
	z-index:	2;
}

.eu-menu.active .item {		/* shown items */
	display:			block;
}
