    
/* item-description / item-title */
/*
#item-description, #item-subject, .item-moreless {
	display: none;
	overflow: hidden;
}

#item-details .more,
#item-details .less {
	margin-bottom: 12px;
}

#item-details .less {
	margin-top: 7px;
	background-position: right -1577px;
}

*/
