

#additional-info {
	width:				100%;
	position:			relative;
	padding-top:		0;
	padding-left:		0;
}

#carousel-2{
	width:		100%;		/* height set programatically.  TODO: is this width even needed? */
}


.addthis {
}


a.action-link {
	color:			#333;	
	line-height:	1.5;
	font-size:		1em;
}
a.action-link:hover{
	color:			#444;	
}

#embed-link-wrapper{
	background-image:	url('http://shoutomatic.com/static/images/embed_icon16.png');
	background-repeat:	no-repeat;
	padding-left:		18px;
}

#format-link-wrapper{
	background-image:	url('http://icons.iconarchive.com/icons/saki/nuoveXT-2/16/Actions-format-indent-more-icon.png');
	background-repeat:	no-repeat;
	padding-left:		18px;
}

.translate-box{
	float:				none;
	xxxborder-radius:		0.25em;
	background-color:	#DFDFDF;
	padding:			0.5em;
}

a.disabled:hover{
	color:#2A85E8;
	cursor:default;
}


.action-link{
	float:			left;
	margin-left:	1em;
}	
#urlRefIsShownAt{
	margin-left:	0;
}
.action-title{
	display:		none;
}


@media only screen and ( min-width:28em ){
	a.action-link {
		float:			none;
		display:		block;
		margin-left:	0;
	}
	#urlRefIsShownAt{
		display:	inline;
	}
	
	.action-title{
		display:		inline;
	}
}



@media only screen and ( min-width:48em ){
	.additional-info{

	}
	
	#excerpt{
		padding-left:	10px;
	}
	
	.translate-box{
		float:			right;
	}
	
}

#phone-object-title{	/* title for phone only */
	width:		100%;
	text-align:	center;
}




/* img */

img.trigger{
	display:	block;
	max-width: 200px;
}

/* query */

	#query {
		/* Andy: see header.css */
		xxheight: 112px;
		xxborder-bottom: none;
	}
	

	
	.at300b {
		xxxxfloat: right;
		xxxmargin-left: 3px;
	}
	.at300m {
		xxxfloat:	right;
		xxxmargin:	0 5px 0 5px;
	}
	.addthis_button_compact {
		xxxmargin-top: 44px;
	}
	
	
/* Navigation (return to search results, previous, next) */

/* Full doc navigation appears to be in the header - override header's bottom border and add the same border to under the nav links  */

	#header{
		border-bottom:	0;
	}
	
	#navigation {
		overflow:		auto;
		padding:		0;
		list-style:		none;
		border-bottom:	1px solid #E4E4E4;
		width:			100%;
	}
	
	#navigation li, .navigation li {
		display: inline;
	}
	
	
/* pagination */

	.pagination-previous, .pagination-next {
		float: right;
	}
	
	.pagination-next {
		margin-left: 1.5em;
	}
	
	.item-metadata {
		margin-bottom:	0.5em;
	}
	
	/*
	.item-ugc {
		background-image: url(../images/icons/sprite.png);
		background-position: 180px -1681px;
    	background-repeat: no-repeat;
    	height:			24px;
	}
	*/
	
	.external.item-metadata {
		display : block;
	}
	
	a.item-metadata.image {
		width: 200px;
		display: block;
	}
	

/* full excerpt */

	h1 {
		font-size: 180%;
	}

	.item-metadata h2 {
		display: inline;
		font-size: 100%;
		color: #333;
		font-weight: normal;
	}
	
	
/* item-collection */

	#item-collection {
		list-style: none;
	}
	
	#item-collection li {
		float: left;
		margin-right: 20px;
	}
	
	#item-collection .selected {
		border: 1px solid black;
	}
	
	
/* object-type */

	.object-type {
		float: right;
		width: 25px;
		height: 25px;
		color: #333;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
	}
	
	.object-type.image {
		background-position: 5px -1058px;
	}
	
	.object-type.video {
		background-position: 5px -1005px
	}
	
	.object-type.text {
		background-position: 8px -1109px
	}
	
	.object-type.sound {
		background-position: 5px -1138px
	}
	
	.object-type.threeD {
		background-position: 5px -973px;
	}	
	
	
		
	
/* additional-actions */

    #additional-actions {
    	padding: 10px;
        background-color: #dfdfdf;
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
    }
    
    #item-save-tag fieldset {
    	margin: 0;
    	padding: 0;
    }
    
    #item-save-tag input[type=text] {
    	margin: 2px 0;
    	width: 180px;
    }
    
    #item-save-tag input[type=submit] {
    	margin-bottom: 4px;
    }
	
	
/* translation-services */

	#translation-services {
		position: relative;
		display: none;
		margin: 5px 0 0 0;
	}
	
	
	#translate-with-google,
	#translate-with-microsoft {
		display: inline-block;
	}
	
	#google-translate-element,
	#microsoft-translate-element {
		margin-bottom: 7px;
	}
	
	#microsoft-translate-element select {
		display: block;
		margin: 0;
	}
	

/* fields-enrichment */

	#auto-generated-tags,
	#fields-enrichment h4 {
		margin-top: 12px;
		font-size: 100%;
		font-weight: normal;
	}
	
	#fields-enrichment {
		margin: 0;
		padding: 0;
	}
	
	#fields-enrichment li {
		list-style: none;
	}
	
	#fields-enrichment ul {
		margin: 0;
		padding: 0;
		display: none;
	}
	
	