/* excerpt */

/*
    #excerpt {
    	position: relative;
        float: left;
        width: 460px;
        margin-right: 20px;
        overflow: hidden;
    }
  
  */
    
/* item-description / item-title */

    #item-description, #item-subject, .item-moreless {
    	display: none;
    	overflow: hidden;
    }
    
    #item-details .more,
    #item-details .less {
    	margin-bottom: 12px;
    }
    
    #item-details .less {
    	margin-top: 7px;
    	background-position: right -1577px;
    }

    
/* citation */
	
	#citation {
		display: none;
	}
	
	#citation .external-services-container {
		display: block;
		width: 455px;
		height:	auto;
	}
	
	#citation h3 {
		font-size: 100%;
		padding: 20px 0 0 20px;
	}
	
	#citation p {
		overflow: auto;
		padding: 20px;
	}
	
	#citation .header {
		font-weight: normal;
		padding: 10px 30px 10px 10px;
	}
	
	
/* external-services toggle-menu-icon */

	a.external-services.toggle-menu-icon {
		padding-right: 0;
	}