/* header */

	/* mobile 1st */
	
	#header{
		position:		relative;	/* this to stop the absolutely position width-100% logo wrapper creating scrollbars */
		border-bottom:	1px solid #E4E4E4;
	}
	
	#header-strip{
		background-color:	transparent;
	}
	
	#language-selector select {
		float:		right;
		margin:		2px 1em 2px 0px;
	}
	
	#logo {		
		position:	relative;
		top:		5px;
		width:		110px;
		z-index:	2;
	}
	
	#query{
		width:		100%;
		text-align:	center;
		position:	relative;
		margin-top:	35px;

	}
		
	#query .row {
		float:		right;
	}
	
	#query h3 {
		font-size:		1.3em;		/* this will just squeeze in to a 540px viewport */
		font-weight:	normal;
		margin:			12px 0px;
	}

	/* prevent line-break on narrow viewports */
	#query-input{
		max-width:	60%;
	}
	
	#query-input{
		padding:				2px;
		
		color:					#333;
		font-size:				inherit;
		border:					1px solid #E4E4E4;

        -moz-border-radius:		0 0.5em 0.5em 0;
		-webkit-border-radius:	0 0.5em 0.5em 0;
		border-radius:			0 0.5em 0.5em 0;
	}

	@media only screen and ( min-width:767px ){
		#query-input{
			width:		40%;
			-moz-border-radius:		0 0 0 0;
			-webkit-border-radius:	0 0 0 0;
			border-radius:			0 0 0 0;
			
		}
	}
	
	#query-input::-webkit-input-placeholder {
		color: #999;
	}
	
	#query-input:-moz-placeholder{
		color: #999;
	}
	
	#query-input:-ms-input-placeholder {
		color: #999;
	}

	
	
	.container{
		position:relative;
	}

	/* Mobile Menu */
	
	.mobile-menu{
		position:	relative;
		display:	inline-block;
		float:		right;
		font-size:	2em;
		z-index:	1;	
	}
	
	.mobile-menu a {
		text-decoration:	none;
		color:				#444444;
	}

	.mobile-menu a:hover{
		text-decoration:	underline;
	}

	.mobile-menu .top {
		background-color:	#DDD;
	}

	.mobile-menu ul{
		list-style-type:	none;
		position:			absolute;
		right:				-1px;		/* offset cancels parent's border in ff */
		margin:				0px;
		padding:			0px;
	}

	.mobile-menu .item {	/* hidden items */
		display: 			none;
		border-radius:		0 0 0.25em 0.25em;
		margin-top:			0.2em;
		padding:			0.19em 0.6em 0.1126em;
		border:				1px solid #e4e4e4;
		background-color:	#F5F5F5;
		white-space:		nowrap;
		font-size:			0.75em;
	}

	.mobile-menu.active .item {		/* shown items */
		display:			block;
	}

	/* extra rules needed for icons */

	.mobile-menu{
		position:	relative;
		display:	inline-block;
		float:		right;
		font-size:	2em;
		z-index:	1;	
	}
	
	.mobile-menu .item {
		font-size:			0.75em;
	}
	.mobile-menu a {
		font-size:			0.75em;
		vertical-align:		middle;
		position:			relative;
		bottom:				0.15em;
	}
	
	/* end of extra rules needed for icons */




	/* Search Menu */
	

	.search-wrapper{	
		font-size:		1.2em;
		position:		relative;
		margin-top:		1.5em !important;
		margin-bottom:	1.5em !important;	
	}
	
	/* test to see if font is impacting layout (Andy: TODO: delete) */
	.search-menu, #query-input, #submit-query input	{
	   	font-family: Ubuntu;
	}
	
	.search-menu.selected span.open-menu,
	.search-menu.selected .item.active{
	   	text-shadow:0 0 3px #FF0000;
	}
	
	.search-menu{
		position:				relative; 
		display:				inline-block;
		float:					right;
		z-index:				2;	

		float:					none;
		text-align:				left;
		
		border:					1px solid #e4e4e4;

		padding-left:			0.15em;

		-moz-border-radius:		0.5em 0 0 0.5em;
		-webkit-border-radius:	0.5em 0 0 0.5em;
		border-radius:			0.5em 0 0 0.5em;
	}
	
	.search-menu a {
		text-decoration:	none;
		color:				#444444;
	}

	.search-menu a:hover{
		text-decoration:	underline;
	}

	.search-menu .top {
		background-color:	#DDD;
	}

	.search-menu ul{
		list-style-type:	none;
		position:			absolute;
		margin:				0px;
		padding:			0px;
	}

	.search-menu .item {	/* hidden items */
		display: 			none;
		border-radius:		0 0 0.25em 0.25em;
		margin-top:			0.2em;
		padding:			0.19em 0.6em 0.1126em;
		border:				1px solid #e4e4e4;
		background-color:	#F5F5F5;
		white-space:		nowrap;
		
		z-index:	2;
	}

	.search-menu.active .item {		/* shown items */
		display:			block;
	}


	/* user-bar */

	#user-bar {
		position:	absolute;
		top:		20px;
		right:		20px;
		padding:	5px;
		width:		927px;
		text-align:	right;
		z-index:	100;
	}
	
	
	#box_search, #box_search_refine{
		margin-left: 14px;
	}

	/*	
	#refine-search,
	#save-search,
	.search-help {
		position: absolute;
		top: 28px;
	}
	*/

	#refine-search {
		left: 0;
	}
		
	#refine-search.disabled {
		display: none;
	}
	
	#save-search {
		right: 233px;
	}
		
	/* override grid with selector */
	/*
	.show-ilb-on-phones.search-help,	.hide-ilb-on-phones.search-help,
	.show-on-phones.search-help,		.hide-on-phones.search-help*/
	.search-help {
		position:		absolute;
		margin-left:	0.5em;
	}


	.submit-button {
		display:				block;
        margin-left:			auto;
        margin-right:			auto;
        margin-top:				0.5em;
    }
    
    .submit-button input{
		background-color:		#9900ff;
        border:					none;
        color:					#fff;
        cursor:					pointer;
        font-size:				inherit;
		width:					90%;
		
		-moz-border-radius:		0.5em 0.5em 0.5em 0.5em;
		-webkit-border-radius:	0.5em 0.5em 0.5em 0.5em;
		border-radius:			0.5em 0.5em 0.5em 0.5em;
	}

	@media only screen and ( min-width:767px ){
	
		.search-menu{
			padding-left:	0.5em;
			padding-bottom:	2px;
			min-width:		0;		
		}

		.search-menu.selected span.open-menu,
		.search-menu.selected .item.active{
	   		text-shadow:	none;
		}

		.submit-button {
			width:		auto !important;
			display:	inline-block;
			margin-top:	0;			
		}
		
		.submit-button input{
			width:					auto;
			padding:				2px;
	        -moz-border-radius:		0 0.5em 0.5em 0;
			-webkit-border-radius:	0 0.5em 0.5em 0;
			border-radius:			0 0.5em 0.5em 0;
		}
	}
    
    
	/*
	.locale-ca #search-help {
		width: 46px;
	}
		
	.locale-da #search-help {
		width: 36px;
	}
			
	.locale-el #search-help {
		width: 80px;
	}
			
	.locale-es #search-help {
		width: 68px;
	}
			
	.locale-fi #search-help {
		width: 38px;
	}
		
	.locale-fr #search-help {
		width: 71px;
	}
			
	.locale-ga #search-help {
		width: 68px;
	}
			
	.locale-hu #search-help {
		width: 58px;
	}
			
	.locale-no #search-help {
		width: 32px;
	}
			
	.locale-pt #search-help {
		width: 72px;
	}
			
	.locale-sk #search-help {
		width: 94px;
	}
			
	.locale-sl #search-help {
		width: 32px;
	}
	*/
			
		
	#refine-search-form {
		position: relative;
		top: -44px;
		left: 0;
		height: 56px;
		background-color: #fff;
		display: none;
	}
		
	#close-refine-search {
		display: block;
		clear: left;
		padding-top: 3px;
	}
		
	#additional-feedback {
		position: absolute;
		z-index: 10;
		top: 150px;
		left: 283px;
		width: 364px;
		height: auto;
		margin: 8px 0 0 0;
		padding: 4px 4px 4px 25px;
		background-color: #dfdfdf;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: 5px -650px;
		border: solid  1px #c0c0c0;
	}
	

	/* autocomplete */

	.ui-autocomplete {
		position: relative;
		z-index: 1000;
		width: 180px;
		padding: 5px;
		border: 1px solid #a0a0a0;
		border-radius: 5px;
		list-style: none;
		background-color: white;
		overflow: hidden;
	}
	
	a.ui-corner-all {
		display: block;
		margin-top: 2px;
		padding: 2px 7px;
		color: #666;
        background-color: #f5f5f5;
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		background-color: red;
		
	}
	
	a.ui-corner-all:hover,
	a.ui-state-hover {
		color: #fff;
		background-color: #000;	    
	}
	
	
	/* query input highlighting */

	@-webkit-keyframes pulse {
		0% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.1);
		}
		50% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.5);
		}
		100% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.1);
		}
	}
	
	/*
	ANDY: TODO?  restore box shadow
	
	#query-search input[type="text"]:focus {
	   -webkit-box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   -moz-box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   -webkit-animation: pulse 1.5s infinite ease-in-out;
	}
	
	
	*/
	

	

	@media only screen and ( min-width:767px ){
	
		/* logo */

		#logo {
			top:		6px;
			width:		100%;
		}
		
		#logo a {
			display:	block;
	   		max-width:	15%;
	   		position:	absolute;
		}
		
		/* strip */
		
		#header-strip{
			background-color:	black;
			width:				100%;
			display:			table;
		}
				
		#header-strip span{		/* structural fix for vertical align */
			display:			table-cell !important;
			vertical-align:		middle;
		}
		
		#header-strip a{
			font-size:			1.1em;
			color:				white;
			margin-left:		25px;
			float:				left;
		}
		
		
		/* menu-language */
	
		#language-selector select {
			xxfont-size:		100%;
			font-weight:	normal;
			margin-right:	1em;
		}
		
		
		/* form */
		#query{
			text-align:	center;
			margin-top:	2.5em;
		}

		#query h3 {
			font-size:	180%;
			color:		#666;
			display:	inline;
		}

/*
		#query-search #rq{
			xxwidth:	225px !important;
		}
		
		#query-search input[type=text].map-query {
			width:	296px;
		}
	*/	
	}


	/* IE 8 handled the same way as the above media query: copy and paste and change the class selectors */

	/* logo */

	.ie8 #logo {
		top:		30px;
		width:		100%;
	}
	
	.ie8 #logo a {
		display:	block;
   		max-width:	15%;
	}
	
	/* strip */
	
	.ie8 #header-strip{
		background-color:	black;
		width:				100%;
		display:			table;
	}
			
	.ie8 #header-strip span{		/* structural fix for vertical align */
		display:			table-cell !important;
		vertical-align:		middle;
	}
	
	.ie8 #header-strip a{
		font-size:			1.1em;
		color:				white;
		margin-left:		25px;
		float:				left;
	}
	
	
	/* menu-language */

	.ie8 #language-selector select {
		font-size:		100%;
		font-weight:	normal;
		margin-right:	12px;
	}
	
	
	/* form */
	.ie8 #query{
		width:		470px;
		text-align:	center;
		margin-top:	45px;
	}

	.ie8 #query h3 {
		font-size:	180%;
		color:		#666;
		display:	inline;
	}

	.ie8 #query-search #rq{
		width:	225px !important;
	}
	
	.ie8 #query-search input[type=text].map-query {
		width:	296px;
	}
	

/* End of IE 8 handling */