/* header */

	/* mobile 1st */
	
	#header{
		position:	relative;	/* this to stop the absolutely position width-100% logo wrapper creating scrollbars */
	}
	
	#header-strip{
		background-color:	transparent;
	}
	
	#language-selector select {
		float:		right;
		margin:		2px 1em 2px 0px;
	}
	
	#logo {		
		position:	absolute;
		top:		5px;
		width:		110px;
	}
	
	#query{
		width:		100%;
		text-align:	right;
		position:	relative;
		margin-top:	35px;
		height:		44px;
	}
		
	#query .row {
		float:		right;
	}
	
	#query h3 {
		font-size:		140%;
		font-weight:	normal;
		margin:			12px 0px;
	}

	#query-input{
		width:					100%;
		padding:				2px 0px;
		color:					#333;
		font-size:				120%;
		border:					1px solid #a0a0a0;
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		border-radius:			5px;
	}

	#query-input::-webkit-input-placeholder {
		color: #999;
	}
	
	#query-input:-moz-placeholder{
		color: #999;
	}
	
	#query-input:-ms-input-placeholder {
		color: #999;
	}

	#submit-query{
		width:	90%;
		margin:	12px auto 0px;
	}
	
	.container{
		position:relative;
	}

	#header-strip .menu{
		width:					24px;
		height:					24px;
		background-color:		white;
		float:					right;
		/*
		background-image:		url(../images/icons/sprite.png);
		background-position:	0px -318px;
		*/
		font-size:				2em;
		margin:					1px 5px 1px 5px;
	}
	
	/* user-bar */

	#user-bar {
		position:	absolute;
		top:		20px;
		right:		20px;
		padding:	5px;
		width:		927px;
		text-align:	right;
		z-index:	100;
	}
	
	
	#box_search, #box_search_refine{
		margin-left: 14px;
	}

		
	#refine-search,
	#save-search,
	#search-help {
		position: absolute;
		top: 28px;
	}

	#refine-search {
		left: 0;
	}
		
	#refine-search.disabled {
		display: none;
	}
	
	#save-search {
		right: 233px;
	}
		
	#search-help {
		display: inline-block;
		left: 412px;
		width: 50px;
		text-align: center;
	}

	#search-help.map-query {
		left: 325px;
	}

	.locale-ca #search-help {
		width: 46px;
	}
		
	.locale-da #search-help {
		width: 36px;
	}
			
	.locale-el #search-help {
		width: 80px;
	}
			
	.locale-es #search-help {
		width: 68px;
	}
			
	.locale-fi #search-help {
		width: 38px;
	}
		
	.locale-fr #search-help {
		width: 71px;
	}
			
	.locale-ga #search-help {
		width: 68px;
	}
			
	.locale-hu #search-help {
		width: 58px;
	}
			
	.locale-no #search-help {
		width: 32px;
	}
			
	.locale-pt #search-help {
		width: 72px;
	}
			
	.locale-sk #search-help {
		width: 94px;
	}
			
	.locale-sl #search-help {
		width: 32px;
	}
			
		
	#refine-search-form {
		position: relative;
		top: -44px;
		left: 0;
		height: 56px;
		background-color: #fff;
		display: none;
	}
		
	#close-refine-search {
		display: block;
		clear: left;
		padding-top: 3px;
	}
		
	#additional-feedback {
		position: absolute;
		z-index: 10;
		top: 150px;
		left: 283px;
		width: 364px;
		height: auto;
		margin: 8px 0 0 0;
		padding: 4px 4px 4px 25px;
		background-color: #dfdfdf;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: 5px -650px;
		border: solid  1px #c0c0c0;
	}
	

	/* autocomplete */

	.ui-autocomplete {
		position: relative;
		z-index: 1000;
		width: 180px;
		padding: 5px;
		border: 1px solid #a0a0a0;
		border-radius: 5px;
		list-style: none;
		background-color: white;
		overflow: hidden;
	}
	
	a.ui-corner-all {
		display: block;
		margin-top: 2px;
		padding: 2px 7px;
		color: #666;
        background-color: #f5f5f5;
        -moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		background-color: red;
		
	}
	
	a.ui-corner-all:hover,
	a.ui-state-hover {
		color: #fff;
		background-color: #000;	    
	}
	
	
	/* query input highlighting */

	@-webkit-keyframes pulse {
		0% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.1);
		}
		50% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.5);
		}
		100% {
			-webkit-box-shadow: 0 0 4px rgba(153,0,255,.1);
		}
	}
	
	#query-search input[type="text"]:focus {
	   -webkit-box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   -moz-box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   box-shadow: 0 0 4px rgba(153,0,255,0.3);
	   -webkit-animation: pulse 1.5s infinite ease-in-out;
	}
	
	


	/* MEDIA QUERIES */
	

	@media only screen and ( min-width:767px ){
	
		/* logo */

		#logo {
			top:		30px;
			width:		100%;
		}
		
		#logo a {
			display:	block;
	   		max-width:	15%;
		}
		
		/* strip */
		
		#header-strip{
			background-color:	black;
			width:				100%;
			display:			table;
		}
				
		#header-strip span{		/* structural fix for vertical align */
			display:			table-cell !important;
			vertical-align:		middle;
		}
		
		#header-strip a{
			font-size:			1.1em;
			color:				white;
			margin-left:		25px;
			float:				left;
		}
		
		
		/* menu-language */
	
		#language-selector select {
			font-size:		100%;
			font-weight:	normal;
			margin-right:	12px;
		}
		
		
		/* form */
		#query{
			width:		470px;
			text-align:	center;
			margin-top:	45px;
		}

		#query h3 {
			font-size:	180%;
			color:		#666;
			display:	inline;
		}

		#query-search #rq{
			width:	225px !important;
		}
		
		#query-search input[type=text].map-query {
			width:	296px;
		}
		
		#submit-query{
			width:	90%;
			margin:	0px 0px 0px 6px;
		}
	}


	