/* html 

  All html and body selectors replaced with .search-widget-container
  
  All other element selctors prefixed with .search-widget-container
*/

.search-widget-container{
	font-size:		100%; 
	z-index:		1;
}

.search-widget-container{
	z-index: 1;
	margin: 0 auto;
	padding: 0;
	color: #333;
	background-color: #fff;
}

.search-widget-container form{
	margin:0;
	padding:0;
}


/* Basic fonts */

.search-widget-container{
	font-size:	1.2em;
}

/*
@media only screen and ( min-width:48em ){
*/
	.desktop.search-widget-container{
		font-size:	1.125em;
	}
/*
}
*/
/*
@media only screen and ( min-width:71em ){
*/
	.min71em.search-widget-container{
		font-size:	1.063em;
	}
/*
}
*/

/* End basic fonts */

.search-widget-container h1,
.search-widget-container h2,
.search-widget-container h3,
.search-widget-container h4,
.search-widget-container h5,
.search-widget-container h6{
	margin: 0;
	padding: 0;
	color: #111;
}


.search-widget-container img { border: none; }

.search-widget-container input[type="submit"]{
	cursor:	pointer;
}


			
/* links */
.search-widget-container a { text-decoration: none; color: #2A85E8; outline: 0; }
.search-widget-container a:visited { color: #2A85E8; }
.search-widget-container a:not(.social-link):hover: { color: #ff00c2; }


.search-widget-container iframe {
	border: none;
	overflow: hidden;
}

.search-widget-container fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
