/* menu-right */

    #menu-right {
        right: 0;
        top: 221px;
        writing-mode:tb-rl;
        width: auto;
        height: 600px;
    }
	
    #menu-right li {
        margin-bottom: 20px;
        margin-right: 0;
	}
	
	#menu-right a.menu-tab {
		padding: 7px 2px;
	}
	
	.locale-bg #menu-right {
    	top: 221px;
    	right: 0;
    	width: auto;
    	height: 591px;
    }
    
    .locale-el #menu-right {
    	top: 221px;
    	right: 0;
    	width: auto;
    	height: 591px;
    }
    
    .locale-ru #menu-right {
    	top: 221px;
    	right: 0;
    	width: auto;
    	height: 617px;
    }
	

/* menu-sub-tab */

	a.menu-sub-tab {
	    border-top: 1px solid #fff;
	    margin-top: 0;
	}
	
	a.menu-sub-tab:hover {
		background-color: #000; /* Solid colour fall-back */
	}


/* menu-footer */

	.locale-bg #menu-footer .separator {
		margin-left: 39px;
	}
	
	.locale-ru #menu-footer .separator {
		margin-left: 34px;
	}
	

/* autocomplete */

	a.ui-corner-all:hover,
	a.ui-state-hover {
		background-color: #000; /* Solid colour fall-back */
	}
	
	
/* query */

	#query input[type=submit] {
		margin: 0;
	}
	
	#refine-search,
	#save-search,
	#search-help {
		top: 25px;
	}
	
	
/* additional info */
	
	#items li:hover .result-additional-info {
		display: block;
		background-color: #000;
	}
	
	#items .result-additional-info {
		display: none;
	}
	
	
/* extra-info */

	#items li:hover .extra-info {
		display: block;
	}
	
	#items .extra-info {
		display: none;
	}
	

/* common pagination */

	a.pagination-next {
		background-position: 0 -585px;
	}
	
	a.pagination-next:hover {
		background-position: 0 -601px;
	}
	
	a.pagination-previous {
		background-position: 0 -552px;
	}
	
	a.pagination-previous:hover {
		background-position: 0 -569px;
	}
	
	
/* fulldoc pagination */

	#navigation a.pagination-next {
		background-position: right -616px;
	}
	
	#navigation a.pagination-next:hover {
		background-position: right -632px;
	}
	

/* ajax-feedback */

	#ajax-feedback {
		background-color: #000;
	}
	

/* search widget */

	#widget-overlay {
		background-color: #fff;
		filter:alpha(opacity=01);
	}
	
	#widget-overlay div {
		background-color: #2296E2;
		filter:alpha(opacity=50);
	}
	
	#widget-overlay .last-child {
		bottom: 0;
	}
	