.carousel-row{
	position:	relative;
}

.carousel-row>div{
	vertical-align: top;
}

.carousel-wrap{
	display:table-cell;
	width:50%;
}


.social-shares{
	text-align:		right;
	position:		absolute;
	bottom:			0;
	right:			0;
	margin-right:	1em;	
	height:			3em;
}

.social-shares span.label{
	position:	relative;
	bottom:		0.5em;
}

.social-shares	.icon-facebook{
	color:	#3B5998;
	font-size:		2em;
}


.social-shares	.icon-twitter{
	color:	#4099FF;
	font-size:		2em;
}

.social-shares	.icon-pinterest-2{
	color:	#E00002;
	font-size:		2em;
}

.social-shares	.icon-mail{
	font-size:		2em;
}

.social-shares	.icon-share{
	color:	green;
	font-size:		2em;
}



/*
#carousel-1{
   	height:		260px;
   	xxmax-height:	100%;
   	xxbackground:	#000;
   	
   	height:			300px;
   	max-height:		300px;
}

@media only screen and ( min-width:400px ){
	#carousel-1{
		height:		320px;
	   	max-height:	320px;
	}
}


@media only screen and ( min-width:767px ){
	#carousel-1{
		height:		600px;
		max-height:	600px;
	}
}

@media only screen and ( min-width:900px ){
	#carousel-1{
	   	height:		450px;
		max-height:	450px;
	}
}

@media only screen and ( min-width:1000px ){
	#carousel-1{
	   	height:		500px;
	   	max-height:	500px;
	   	
	   	height:		370px;
	   	max-height:	370px;
	}
}

*/

#carousel-2{
   xwidth:		100%;
   	height:		200px;	
   	max-height:	100%;
   	xxbackground:	#000;
}

#carousel-3{
   xwidth:		100%;
   	height:		200px;
   	max-height:	100%;
   	xxbackground:	#000;
}




/* main content gutters */

.carousel-spacer{
	margin-right:	0;
	margin-top:		1.5em;
	xxxmargin-bottom:	1.5em;
}



.blurb-spacer{
	margin-left:	0;
	margin-top:		1.5em;
	margin-bottom:	4em;	/* social-shares height plus one */
}


#section-blog .six:first-child .feeb-block-spacer{
	margin-right:	0;
}

#section-blog .six:last-child .feeb-block-spacer{
	margin-left:	0;
}

#section-featured-content .six:first-child .feeb-block-spacer{
	margin-right:	0;
}

#section-featured-content .six:last-child .feeb-block-spacer{
	margin-left:	0;
}


@media only screen and ( min-width:48em ){
	.carousel-spacer{
		margin-right:	1em;
		margin-top:		1.25em;
	}
	
	.blurb-spacer{
		margin-left:	1em;
		margin-top:		1.25em;
	}

	#section-blog .six:first-child .feeb-block-spacer{
		margin-right:	1em;
	}
	#section-blog .six:last-child .feeb-block-spacer{
		margin-left:	1em;
	}

	#section-featured-content .six:first-child .feeb-block-spacer{
		margin-right:	1em;
	}
	#section-featured-content .six:last-child .feeb-block-spacer{
		margin-left:	1em;
	}

}


@media only screen and ( min-width:60em ){
	.carousel-spacer{
		margin-right:	2em;
		margin-top:		2.5em;
	}
	
	.blurb-spacer{
		margin-left:	2em;
		margin-top:		2.5em;
	}

	#section-blog .six:first-child .feeb-block-spacer{
		margin-right:	2em;
	}
	#section-blog .six:last-child .feeb-block-spacer{
		margin-left:	2em;
	}

	#section-featured-content .six:first-child .feeb-block-spacer{
		margin-right:	2em;
	}
	#section-featured-content .six:last-child .feeb-block-spacer{
		margin-left:	2em;
	}
}




/* addthis */

/*
	.addthis {
		position: absolute;
		z-index: 200;
		top: 196px;
		right: 25px;
		min-width: 352px;
	}
	
	.at300b { float: right; margin-left: 3px; }
	.at300m { float: right; margin: 0 5px 0 5px; }
	.addthis_counter { float: right; }
*/




/* collapsible section headings */

.collapse-header-text, .icon-pinterest{
	padding-top:	1em !important;
	padding-bottom:	1em !important;
}


#section-featured-partner,
#collapse-header-3,
#collapse-header-2,
#collapse-header-1,
.collapse-content{
	border-top:		1px solid #E4E4E4;
}

#featured-partner-header-wrapper{
	border-bottom:	1px solid #E4E4E4;
}


#section-featured-content h4{
	margin:	0;
}

ul.featured-partner-links{
	margin-left:	0;
	padding-left:	0;
}

ul.featured-partner-links li{
	list-style: none outside none;
}

/* move content down from heder within collapsibel sections */
#carousel-3,
#section-featured-content div.featured-content{
	margin-top:	0.5em;
}

.featured-frame{
	text-align:			center;
	background-color:	#DFDFDF;
}



/* Dynamic content classes */
h3 a span{
	color:#181818;	
}

.feed-block,
.feed-box,
.feed-cell,
.feed-image{
	display:			block;
}

.feed-image{
	text-align:			center;
	vertical-align:		middle;
}

.feed-image img{
	display:	block;	/* inline image has small margin at bottom */
	margin:		auto;	/* required to centre block */
}

.feed-block{
	margin-top:			1.5em;
	margin-bottom:		1em;
}

.icon-rss:before{
	color: 	orange !important;
}


@media only screen and ( min-width:48em ){
	.feed-block{
			display:		table;
			table-layout:	fixed;
			max-width:		100%;
			width:			100%;
	}
		
	.feed-box{
			display:		table-row;
	}
	
	.feed-cell{
			display:			table-cell;
			vertical-align:		top;
			background-color:	#fff;
	}
	
	.feed-image{
			width:				35%;
			max-width:			35%;
			background-color:	#dfdfdf;
			vertical-align:		middle;	
	}
}
/* End dynamic content classes */


/* blog-feed */


#section-blog, #section-featured-content, #section-pinterest{
	xxxxxmargin-top:		0.75em;
	xxxxxmargin-bottom:	0.75em;
	
	padding-top:		0.75em	!important;
	padding-bottom:		0.75em	!important;
	
}


.feed-link {
	float:			right;
	margin-right:	0.5em;
	padding-top:	1em;
	padding-bottom:	1em;
}

.collapse-content{
	clear:	both;	
}

@media only screen and ( min-width:48em ){
	.feed-link {
		float:			left;
		margin-left:	0.4em;
				
		padding-top:	0.5em;
		padding-bottom:	0.5em;

		/*
		position:		relative;
		bottom:			0.19em;
		*/
	}
	
	.collapse-header-text, .icon-pinterest{
		padding-top:	0.5em !important;
		padding-bottom:	0.5em !important;
	}
}
	
}

.ie8 .feed-link {
	float:			left;
	margin-left:	0.4em;
}


/* featured content */

.featured-text{
	margin-left:	0;
}

h3.featured-text{
	font-size:		inherit;	
}

p.featured-text{
	max-height:		5.92em;	/*		4 x 1.48		*/
	overflow:		hidden;
}


@media only screen and ( min-width:48em ){
	.featured-text{
		margin-left:	0.5em !important;
	}
		
}

/* pinterest */


.rssBody ul {
	list-style: none;
}
.rssBody ul, .rssRow, .rssRow h3, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssBody li {
        width:		100%;
        height:		auto;
		float:		left;
        margin-bottom:		12px;

}


.rssRow div {
	color: #666;
	margin: 0.2em 0 0.4em 0;
}


.icon-pinterest{
	color:			red;
	margin-left:	0.4em;
}

.pinterest-button{
	position:	relative;
    top:		2px;
    left:		1px;
}

.pinterest-header{
	border-bottom:1px solid #CACACA;
	padding-bottom:2px;
}

.rssRow h3{
	border-top:	none;
}


li.rssRow p{
	border-top:	1px solid #CACACA;
	padding-top:	10px;
	padding-bottom:	10px;
}


/*
.rssRow h3.bordertop{
	border-top:	1px solid #CACACA;
}
*/

.rssRow img{
	padding-top:	8px;
	padding-bottom:	10px;
	display:		block;    
}