
#carousel-1-wrapper{
	margin-top:	20px;
   	max-height:	100%;
}

#carousel-1{
   xwidth:		100%;
   	height:		260px;
   	max-height:	100%;
   	background:	#000;
}

#carousel-2{
   xwidth:		100%;
   	height:		230px;
   	max-height:	100%;
   	background:	#000;
}

#carousel-3{
   xwidth:		100%;
   	height:		260px;
   	max-height:	100%;
   	background:	#000;
}

#carousel-1-blurb{
	padding-left:	0px;
}

#carousel-1-blurb .italic-heading{
	margin:			1em 0;
}

@media only screen and ( min-width:767px ){

	
	#carousel-1-wrapper{
		margin-top:	45px;
	}
	
	#carousel-1-blurb{
		padding-left:	12px;		
	}

	#carousel-1-blurb .italic-heading{
		margin:			0;
		margin-bottom:	1em;
		
	}
}

/* addthis */

/*
	.addthis {
		position: absolute;
		z-index: 200;
		top: 196px;
		right: 25px;
		min-width: 352px;
	}
	
	.at300b { float: right; margin-left: 3px; }
	.at300m { float: right; margin: 0 5px 0 5px; }
	.addthis_counter { float: right; }
*/

/* content */
/*
	#content {
		width: 960px;
		margin-bottom: 0;
	}
*/
/* blog-feed */


	#blog-feed {
		float: right;
		margin-top: 3px;
		width: 18px;
		height: 18px;
		background-image: url(../images/icons/sprite.png);
		background-repeat: no-repeat;
		background-position: 0 -1582px;
	}

/* pinterest */


.rssBody ul {
	list-style: none;
}
.rssBody ul, .rssRow, .rssRow h3, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssBody li {
        width:		100%;
        height:		auto;
		float:		left;
        margin-bottom:		12px;

}


.rssRow div {
	color: #666;
	margin: 0.2em 0 0.4em 0;
}

.pinterest-button{
	position:	relative;
    top:		2px;
    left:		1px;
}

.pinterest-header{
	border-bottom:1px solid #CACACA;
	padding-bottom:2px;
}

.rssRow h3{
	border-top:	none;
}


li.rssRow p{
	border-top:	1px solid #CACACA;
	padding-top:	10px;
	padding-bottom:	10px;
}


/*
.rssRow h3.bordertop{
	border-top:	1px solid #CACACA;
}
*/

.rssRow img{
	padding-top:	8px;
	padding-bottom:	10px;
	display:		block;    
}