html, body{
	height:		100%;
}

/* the overlayed element */
.simple_overlay {
	z-index:			10000;
	display:			none;
	background-color:	transparent;
	border:				1px solid #666;	

	box-shadow:			0 0 90px 5px #000;
	-moz-box-shadow:	0 0 90px 5px #000;
	-webkit-box-shadow:	0 0 90px #000;	
}



/* lightbox control buttons */
.simple_overlay .close, #zoomClose, #enlittle {
	background-image:	url('/portal/themes/default/images/icons/close-lightbox.png');
	position:			absolute;
	right:				-20px;
	top:				-20px;
	cursor:				pointer;
	height:				35px;
	width:				35px;
	z-index:			1; /* close button has to appear above player */
}

#enlittle {
	background-image:	url('/portal/themes/default/images/icons/lightbox-enlittle.png');
	top:				5px;
	right:				5px;
	z-index:			2; /* close button has to appear above player */
}

#zoomBtn{
	background-image:	url('/portal/themes/default/images/icons/lightbox-enlarge.png');
	position:			absolute;
	right:				7px;
	top:				3px;
	cursor:				pointer;
	height:				35px;
	width:				35px;
	z-index:			1; /* close button has to appear above player */
}
							
.playerDiv{
	padding:			7px;
	
	text-align:			center;
	vertical-align:		middle;
}


.content-wrap{
	border:				none;
	padding:			0px;
	background-color:	#333;		
	text-align:			center;
}

.content-wrap p{
	overflow:			auto;
}

.content-wrap img{
    border:				none;
	margin:				none;
	padding:			none;
	vertical-align:		bottom;
}

.info{
	display:		none;
	opacity:		0.8;
	background:		#333333;
	border:			1px solid #666666;
 	color:			#FFFFFF;
	font-size:		1em;
	position:		relative;
	overflow:		auto;
	text-align:		left;
	
	
	box-shadow:			0 0 90px 5px #000;
	-moz-box-shadow:	0 0 90px 5px #000;
	-webkit-box-shadow:	0 0 90px #000;
}

.info div.hide_show_meta{
	height:			20px;
}


.info .info-open{
	padding:			1em;
	height:				100%;
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
}

.info .info-open .item-metadata{
	line-height:	1.4em;
}

.info a{
	text-decoration:	underline;
	color:				#fff;
}
.info a span{
	color:				#fff;	
}

.info a .icon-share{
	color:			green;	
}

.info .icon-share .action-title{
	color:#fff;
}

.info .original-context{
 	float:				left;
}


.info .original-context div{
	font-weight:		bold;		
}

.info-top{
	display:	table-row;
	height:		100%;
}
.info-bottom{
	display:	table-row;
}


.lightbox-rights{
	float:		right;
	text-align:	right;
}


#rights-collapsed{
 	margin-left:	0px !important;
 	margin-top:		1em;
}


div a.showMeta, div a.hideMeta{
	position:		absolute;
	top:			3px;
	right:			5px;
	cursor:			pointer;
}

div a.hideMeta{
	top:			5px;
}

#lightbox-embed, #lightbox-download, #lightbox-embed:visited, #lightbox-download:visited{
	text-transform:	capitalize;
}

.addthis_toolbox.addthis_default_style span{
	line-height:	1.4em !important;
}

.item-metadata .rights-badge img{
	border:				none;
}

#lightbox .rights-badge{
	border-bottom:	none;
	margin-bottom:	0;
	padding-bottom:	0;
	font-size:		1em;
}


img.trigger{
	cursor:	pointer;
}



.trigger a{
	color:					black;
}
	
span.trigger,
span.download,
span.download_lightbox{
	float:					left;
	margin-left:			10px;
	margin-top:				6px;
	cursor:					pointer;
	width:					20px;
	height:					23px;
}

	
span.view, span.read, span.play{	/* these are already triggers */
	padding-left:			28px;
	white-space:			nowrap;
	padding-top:			1px;
}
	
span.download{
}

span.play{
}

#lightbox-download span.download{
	margin-right:		8px;
	margin-top: 		0px;
}


#nav-next,
#nav-prev{
	position:		absolute;
	font-size:		4em;
	color:			white;
	text-shadow:	0 0 2px #000000;
	cursor:			pointer;
	display:		none;
}

#nav-prev{
	left:	0px;
	right:	auto;
}

#nav-next{
	left:	auto;
	right:	0px;
}

