/* my europeana login */
	
	#explanation {
		text-align:		center;
		margin-top:		1em;
	}

    #login-boxes{
    	margin-top:		2em;
    	margin-bottom:	2em;
    	text-align:		center;
    }
    
    .login-box {
    	display:		inline-block;
    	text-align:		left;
    }
    
    .login-box fieldset {
    	background-color:	#F3F3F3;
        padding:			1.5em;
    }
    
    .login-box fieldset input{
    	border:	1px solid #A0A0A0;
    }
    
    .login-box label {
        font-weight: bold;
        color: #000;
    }
    
    .login-box input[type=password],
    .login-box input[type=text] {
        font-size:		1.2em;
    }
    
    .login-box input {
        margin-bottom: 0.75em;
    }
    
    #login,
    #register,
    #register-api,
    #request-password,
    #login-response {
    	display: none;
    }
    
    #login-response {
    	text-align:	center;
		margin:		1em 0;
	}

    .europeana-button-1{
        font-family:	sans-serif;
        /*font-family:	'SourceSansProRegular', Arial, sans-serif;*/
		font-size:		1.2em;
    	margin-right:	0.5em;
    }
    