/* user-panels */

#user-panels {
	margin-top:		1em; 
	margin-bottom:	1em; 
}

/*
#user-panels h3 {
	display:		block;
	font-size:		1em;
	font-weight:	normal;
	margin-right:	0;
}

#user-information,
.saved-items,
#saved-searches,
#saved-tags,
#remote-search-widget {
	margin:			-1px 0 0 0;
	padding-top:	1em;
}
*/
	
#user-panels a.active {
	text-decoration: none;
	color: #666;
}

.saved-items img,
#saved-tags img {
	float: left;
	margin-right: 0.5em;
}
	 	
#saved-tags li {
	list-style: none;
	margin-bottom: 15px;
	overflow: auto;
}
	 	
.saved-item,
.saved-search,
.saved-tag {
	
	border-bottom:		1px solid #a0a0a0;
	padding-bottom: 	.5em;
	margin-bottom:		1em;
	overflow:			auto;
	
}


.saved-item button,
.saved-search button,
.saved-tag button {
	margin-top: 0.5em;
}

	 	
	 	
@media only screen and ( min-width:48em ){
	#user-panels h3 {
		margin-right:	1em;
		display:		inline;
	}
		
	#user-panels a.active {
 		font-weight: bold;
 	}
 	
 	#user-information,
		.saved-items,
		#saved-searches,
		#saved-tags,
		#remote-search-widget {
 		border-top:		1px solid #a0a0a0;
 	}		 	
}
	 	
	 	
	 	
/* add-this */
/*
.add-this {
	height: 21px;
}
*/	
	 	