html{
	overflow:	hidden;
}

html,
body{
	padding:0;
	margin:0;
}

.e2ma_signup_form{
	height:	100%;
}

#e2ma_signup{
	padding:0;
	margin:0;
}

#load_check{
	display:	none;
}

#e2ma_signup_form_container{
	zzpadding:	1em 0;	
}


label{
	position:relative;
	top:0.15em;
	left:0.5em;
}
	
input{
	box-sizing:			content-box;
	color:				#333;
	border:				1px solid #a0a0a0;
	font-size:			1.2em;		
}


#e2ma_signup input[type=submit]{
	cursor:			pointer;	
}

#e2ma_signup .cb{
	margin:	0.5em;
}

#e2ma_signup input[type=checkbox]{
	margin-left:	35%;
}


#e2ma_signup input[type=submit],
#e2ma_signup input[type=text],
#e2ma_signup input[type=email]{
	width:				80%;
	margin:				0 auto 0 auto;
	padding:			0.3em;
	position:			relative;
	display:			block;
}


body{
	margin:0;
	padding:0;
	width:	100%;
	height:	100%;
	max-width:100%;
}


.phone input[type=text],
.phone input[type=email],
.phone input[type=submit]{
	width:				100%;
}
.phone input[type=submit]{
	top:				4em;
}