
#register-form{
	padding-top:	1em;
	padding-bottom:	2em;
}

#register-form input{
	border: 1px solid #e4e4e4;	
}

#register-form label{
	display:	block;
}

#registration-content{
	padding-top:	1em;
}

#agree{
	padding-top:	1em;
	padding-bottom:	1em;
}

#submit-row{
	padding-top:	1em;
	padding-bottom:	1em;
	text-align:		center;
}

#submit_registration{
	font-size:	1em;
}

#register-form input[type='text'], #register-form label, #register-form select{
	font-size:	1.4em;
	margin-top: 0.7em;
}


input[type='text'], input[type='select']{
	width:	100%;
}

input[type='checkbox']{
	position:	relative;
	top:		0.6em;
}

#disclaimer, #disclaimer-label{
	display:	inline;
	float:		left;
}



#register-success{
	text-align:	center;
}

@media only screen and ( min-width:48em ){

	#register-form input[type='text'], #register-form label, #register-form select{
		font-size:	1em;
		margin-top: 0.5em;
	}
	
	input[type='checkbox']{
		top:		1.3em;
	}
	
}
