/* CSS for responsive grid, based on Foundation v2.2 */

	.container{padding:0 20px;}

	[class*="column"]+[class*="column"]:last-child{float:right;}
	
	img, object, embed{max-width:100%; height:auto;}
	img{-ms-interpolation-mode:bicubic;}
	
	.row:before, .row:after	{content:""; display:table;}
	.row:after		{clear:both;}
	.row			{zoom:1;}
	

	/* Mobile first */

	.container					{min-width:0; margin-left:0; margin-right:0;}
	.row						{width:100%; min-width:0; margin-left:0; margin-right:0;}
	.row .row .column, .row .row .columns		{padding:0;}
	.column, .columns				{width:auto; float:none; margin-left:0; margin-right:0;}
	.column:last-child, .columns:last-child		{margin-right:0; float:none;}
	[class*="column"]+[class*="column"]:last-child	{float: none;}
	[class*="column"]:before,[class*="column"]:after{content:""; display:table;}
	[class*="column"]:after				{clear:both;}
		
	.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered{margin-left:0;}
		
	.push-one, .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten, .push-eleven{left:auto;}
	.pull-one, .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten, .pull-eleven{right:auto;}


	@media only screen and ( min-width:767px ){

		.row{
			width:100%;
			max-width:1140px;
			xxxxxxxxxxxxxxxxxmin-width:727px;
			margin:0 auto;
		}

		/* To fix the grid into a certain size, set max-width to width */
		.row .row{min-width:0;}
	
		.column,
		.columns{margin:0; float:left !important; min-height:1px; position:relative;}

		.row .one	{width:8.33334%		!important;}
		.row .two	{width:16.66667%	!important;}
		.row .three	{width:25%			!important;}
		.row .four	{width:33.33334%	!important;}
		.row .five	{width:41.66667%	!important;}
		.row .six	{width:50%			!important;}
		.row .seven	{width:58.33334%	!important;}
		.row .eight	{width:66.66667%	!important;}
		.row .nine	{width:75%			!important;}
		.row .ten	{width:83.33334%	!important;}
		.row .eleven{width:91.66667%	!important;}
		.row .twelve{width:100%			!important;}

		.row .offset-by-one		{margin-left:8.33334%	!important;}
		.row .offset-by-two		{margin-left:16.66667%	!important;}
		.row .offset-by-three	{margin-left:25%		!important;}
		.row .offset-by-four	{margin-left:33.33334%	!important;}
		.row .offset-by-five	{margin-left:41.66667%	!important;}
		.row .offset-by-six		{margin-left:50%		!important;}
		.row .offset-by-seven	{margin-left:58.33334%	!important;}
		.row .offset-by-eight	{margin-left:66.66667%	!important;}
		.row .offset-by-nine	{margin-left:75%		!important;}
		.row .offset-by-ten		{margin-left:83.33334%	!important;}
		.row .offset-by-eleven	{margin-left:91.66667%	!important;}
	
		.row .centered		{float:none !important; margin:0 auto; !important}

		/* Source Ordering */
		.push-one	{left:8.33334%;}
		.push-two	{left:16.66667%;}
		.push-three	{left:25%;}
		.push-four	{left:33.33334%;}
		.push-five	{left:41.66667%;}
		.push-six	{left:50%;}
		.push-seven	{left:58.33334%;}
		.push-eight	{left:66.66667%;}
		.push-nine	{left:75%;}
		.push-ten	{left:83.33334%;}
		.push-eleven	{left:91.66667%;}
	
		.pull-one	{right:8.33334%;}
		.pull-two	{right:16.66667%;}
		.pull-three	{right:25%;}
		.pull-four	{right:33.33334%;}
		.pull-five	{right:41.66667%;}
		.pull-six	{right:50%;}
		.pull-seven	{right:58.33334%;}
		.pull-eight	{right:66.66667%;}
		.pull-nine	{right:75%;}
		.pull-ten	{right:83.33334%;}
		.pull-eleven	{right:91.66667%;}
	}
	
	/* IE 8 handling (copy and paste of the above media query prefixed with .ie8) */
	
	.ie8 .row{width:100%; max-width:1140px; min-width:727px; margin:0 auto;}

	.ie8 .row .row{min-width:0;}

	.ie8 .column,
	.ie8 .columns{margin:0; float:left !important; min-height:1px; position:relative;}

	.ie8 .row .one	{width:8.33334%		!important;}
	.ie8 .row .two	{width:16.66667%	!important;}
	.ie8 .row .three	{width:25%			!important;}
	.ie8 .row .four	{width:33.33334%	!important;}
	.ie8 .row .five	{width:41.66667%	!important;}
	.ie8 .row .six	{width:50%			!important;}
	.ie8 .row .seven	{width:58.33334%	!important;}
	.ie8 .row .eight	{width:66.66667%	!important;}
	.ie8 .row .nine	{width:75%			!important;}
	.ie8 .row .ten	{width:83.33334%	!important;}
	.ie8 .row .eleven{width:91.66667%	!important;}
	.ie8 .row .twelve{width:100%			!important;}

	.ie8 .row .offset-by-one		{margin-left:8.33334%	!important;}
	.ie8 .row .offset-by-two		{margin-left:16.66667%	!important;}
	.ie8 .row .offset-by-three	{margin-left:25%		!important;}
	.ie8 .row .offset-by-four	{margin-left:33.33334%	!important;}
	.ie8 .row .offset-by-five	{margin-left:41.66667%	!important;}
	.ie8 .row .offset-by-six		{margin-left:50%		!important;}
	.ie8 .row .offset-by-seven	{margin-left:58.33334%	!important;}
	.ie8 .row .offset-by-eight	{margin-left:66.66667%	!important;}
	.ie8 .row .offset-by-nine	{margin-left:75%		!important;}
	.ie8 .row .offset-by-ten		{margin-left:83.33334%	!important;}
	.ie8 .row .offset-by-eleven	{margin-left:91.66667%	!important;}

	.ie8 .row .centered		{float:none !important; margin:0 auto; !important}

	/* Source Ordering */
	.ie8 .push-one	{left:8.33334%;}
	.ie8 .push-two	{left:16.66667%;}
	.ie8 .push-three	{left:25%;}
	.ie8 .push-four	{left:33.33334%;}
	.ie8 .push-five	{left:41.66667%;}
	.ie8 .push-six	{left:50%;}
	.ie8 .push-seven	{left:58.33334%;}
	.ie8 .push-eight	{left:66.66667%;}
	.ie8 .push-nine	{left:75%;}
	.ie8 .push-ten	{left:83.33334%;}
	.ie8 .push-eleven	{left:91.66667%;}

	.ie8 .pull-one	{right:8.33334%;}
	.ie8 .pull-two	{right:16.66667%;}
	.ie8 .pull-three	{right:25%;}
	.ie8 .pull-four	{right:33.33334%;}
	.ie8 .pull-five	{right:41.66667%;}
	.ie8 .pull-six	{right:50%;}
	.ie8 .pull-seven	{right:58.33334%;}
	.ie8 .pull-eight	{right:66.66667%;}
	.ie8 .pull-nine	{right:75%;}
	.ie8 .pull-ten	{right:83.33334%;}
	.ie8 .pull-eleven	{right:91.66667%;}
	/* End of IE 8 handling */

	/* Mobile Visibility Affordances */
		
	.hide-on-phones		{display:none  !important;}		
	.hide-ilb-on-phones		{display:none  !important;}		
	
	.show-on-phones		{display:block !important;}
	.show-ilb-on-phones	{display:inline-block !important;}
	
	
	@media only screen and ( min-width:767px ){
		.hide-on-phones		{display:block !important;}	
		.hide-ilb-on-phones		{display:inline-block !important;}	

		.show-on-phones		{display:none !important;}	
		.show-ilb-on-phones	{display:none !important;}
	}


/* TODO
	.ie8	.hide-on-phones		{display:block !important;}	
	.ie8	.show-on-phones		{display:none !important;}	
*/

	/* Specific overrides for elements that require something other than display:block */
	/*
	table.show-on-desktops	{display:table !important;}
	table.hide-on-phones	{display:table !important;}	
	table.hide-on-tablets	{display:table !important;}
	
	@media only screen and ( max-width:767px ){
		table.hide-on-tablets	{display:table !important;}
		table.hide-on-desktops	{display:table !important;}
		table.show-on-phones	{display:table !important;}
	}
	*/

.left{
	float:	left;
}
.right{
	float:	right;
}