/* pagination for search results */

.result-pagination{
	float:	right;	
	margin:	0;
	margin-top:	0.35em;
}

.result-pagination li{
	float:	left;
	list-style: none;
}

.nav-top .eu-menu,
.nav-bottom .eu-menu{
	border:			1px solid #e4e4e4;
	margin-left:	1em;
	padding-left:	0.25em;
	padding-right:	0.25em;
	z-index:		2;
}

.nav-top .eu-menu ul,
.nav-bottom .eu-menu ul{
	width:	5em;	
}


/* Override "glow" on the selected item */

.nav-top .eu-menu.selected span.open-menu,
.nav-bottom .eu-menu.selected span.open-menu,
.nav-top .eu-menu.selected .item.active,
.nav-bottom .eu-menu.selected .item.active{
	text-shadow:	none !important;
}




#start-page{
	width:		5em;
	outline:	none !important;
}
#start-page:focus{
	outline:	none !important;
}



/* pagination for map */

	.navigation-pagination {
		float: left;
		overflow: hidden;
		height: 21px;
		margin: 6px 0 0 0;
		padding: 0;
	}
	
	.navigation-pagination li {
		list-style: none;
	}
	
	.navigation-pagination a {
		display: block;
	}
	
	.navigation-pagination a.selected {
		color: #666;
		text-decoration: underline;
	}
	
	.navigation-pagination .page-nr {
		float: left;
		margin-right: 5px;
		min-width: 11px;
	}