/* pagination for search results */

.search-results-navigation {
	clear:				both;
	position:			relative;
	border-bottom:		1px solid #E4E4E4;
}

.nav-numbers{
	text-align:		center;
	white-space:	nowrap;
	width:			40%;
	font-size:		0.75em;
}

.nav-numbers input{	
	font-size:	1em;
	border:		1px solid #E4E4E4;
	text-align:	center;
}



.result-pagination{
	float:			none;	
	margin:			0;
	width:			100%;
	padding-left:		0;
	display:		table;
	table-layout:		fixed;
	font-size:		1.5em;
	
	clear:			both;
	position:		relative;
	z-index:		1;	
}

.result-pagination li{
	list-style: 	none;
	display:		table-cell;
	vertical-align:	middle;
}



#start-page {
	outline: medium none !important;
	width: 4em;
	text-align:center;
}

a {
    text-decoration: none;
}

.nav .eu-menu{
	display:	inline-block;
	border:			1px solid #e4e4e4;
	margin-left:	0.5em;
	padding-left:	0.25em;
	padding-right:	0.25em;
	z-index:		2;
}

/* override glow on selected menu item */
.nav .eu-menu.selected span.open-menu,
.nav .eu-menu.selected .item.active{
	text-shadow:	none !important;
}



/* end copied */



.nav{
	padding:			.25em 0;
	-moz-box-sizing:	border-box;
	display:			inline-table;
	
	width:				100%;	/* needed for safari */
}

.nav>div{
	display:	block;
	text-align:	center;
	width:		100%;
}



.nav>.count{
	width:		100%;
}

.menu, .pagination{
	width:		1px;
	white-space:	nowrap;
}



.nav .of{
	display:none;
}

.nav .of-bracket:before{
	content:'(';
}

.nav .of-bracket:after{
	content:')';
}

.nav .of-value{
	display:	block;
}



/* data showing / hiding rules */

@media only screen and (min-width: 22em) {
	.nav .of-bracket:before{
		content:'';
	}

	.nav .of-bracket:after{
		content:'';
	}

	.nav .of,
	.nav .of-value{
		display:inline;
	}

}



/* Desktop general */
@media only screen and (min-width: 55em) {

	.result-pagination{
		float:		right;
		width:		auto;	
		font-size:	1em;
		width:		auto;
	}



	/* flex-box rules */
	.nav>div{
		display:	table-cell;
		vertical-align:	middle;
	}

	.nav>.menu, .nav>.pagination{
		width:1px;
	}

	.nav>.count{
		width:		100%;
		text-align:	center;
	}

	.nav-numbers{	
		font-size:	1em;
		width:		auto;
	}

	.nav>.menu{
		text-align:	left;
	}

	.nav>.pagination{
		text-align:	right;
	}

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}


