
/* query */

	#query {
		height: 112px;
		border-bottom: none;
	}
	


/* breadcrumb */
/*
	#breadcrumb {
		margin: 0 0 10px 230px;
	}
*/

/* addthis */

	.addthis {
		position: absolute;
		z-index: 200;
		top: 7px;
		right: 5px;
		min-width: 133px;
		max-width: 180px;
	}
	
	.at300b, .at300m { float: right; margin-left: 3px; }
	
	
/* items */
	#search-results{
		margin-left:	1em;
	}


	#items {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#items li>span{
		float:			right;
		margin-right:	1em;
	}
	
	#items img {
		max-width: 157px;
	}
	
	
	#items h2 {
		font-size:		0.6em;
		overflow:		hidden;
		float:			left;
		
		margin-top:		0.5em;
		margin-left:	1em;
	}
	
	
	
		
	/* ANDY REFACTOR */
	
	/** DESKTOP **/
	/** This breakpoint not wrapped in media selector for the sake of IE8 **/
	#items{
		word-spacing:	0;
		font-size:		0;
		width:			100%;
		padding-top:	0;
		padding-bottom:	0;
	}

	#items li, #items ul{
		font-size:		0.8em;
		word-spacing: 0;
		
	}

	#items>li{
		width:				25%;
		font-size:			18px;
		margin-bottom:		0.5em;
		margin-top:			0.5em;
		text-align:			center;
		position:			relative;
		border-bottom:		1px dotted #a0a0a0;
		overflow-x:			hidden;
		display:			inline-block;
	}
		
	#items>li>a{
		display:		block;
		margin-bottom:	0.3em;		
	}
		
	
	
	/* mobile (default) */
	
	@media all and (max-width: 480px) {
		
		#items li, #items ul{
			font-size:		16px;
		}
	
		#items>li{
			width:			100%;
			float:			none;
			margin-bottom:	1em;
			margin-top:		0em;
		}
			
		#items{
			padding-top:	0.5em;
			padding-bottom:	0.5em;
		}
	}

	/** TABLET **/
	@media all and (max-width: 980px) {
	
		#items>li{
			width:			50%;
		}

	}



	/* end Andy refactor of items */

	/* meta-data */

	.meta-data {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 200;
		overflow: hidden;
		width: 157px;
		height: 141px;
		padding: 10px;
		color: #333;
		background-color: #fff;
		
		opacity: 0;
		
		transition: 0.3s linear opacity;
		
		-moz-transition-property: opacity;
		-moz-transition-duration: 0.3s;
		-moz-transition-timing-function: linear;
		
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-timing-function: linear;
		
		-o-transition-property: opacity;
		-o-transition-duration: 0.3s;
		-o-transition-timing-function: linear;
		
		box-shadow: 0 0 8px #333;
		-moz-box-shadow: 0 0 8px #333;
        -webkit-box-shadow: 0 0 8px #333;
        
	}
	
	.meta-data.last {
		left: auto;
		right: 0;
	}
	
	.meta-data.bottom {
		top: auto;
		bottom: 0;
	}

	#items li:hover .meta-data {
		opacity: 0.90;
		width: 280px;
		height: 160px;
		z-index: 201;
	}
	
	.meta-data a {
		display: inline;
		height: auto;
	}
	
	
/* additional info */
	
	#items li:hover .result-additional-info {
		opacity: 1;
	}
	
	#items .result-additional-info {
		position:			absolute;
		overflow:			hidden;
		bottom:				0;
		left:				0;
		width:				100%;
		
		height:				auto;
		max-height:			3em;
		
		margin:				0;
		padding:			5px;
		opacity:			0;
		color:				#fff;
		background-color:	#000;
		background-color:	rgba( 0,0,0,.8 );
		
		-moz-transition:	0.25s linear opacity;
		-webkit-transition:	0.25s linear opacity;
		
		font-size:			0.7em;
	}
	