/*
html {
	position: static;
}

body {
	width: 680px;
}



#header {
	width: 680px;
}




#language-selector {
	text-align: right;
}
	
	


#query {
	padding: 0 0 0 105px;
}	

#additional-feedback {
	top: 50px;
	left: 105px;
}


#search-results {
	float: none;
	margin: auto;
}


#footer {
	overflow: auto;
}

#europeana-logo {
	float: left;
}

#european-union {
	float: right;
	margin-top: 6px;
}

*/