/* filter-search */
	
	#filter-search {
		border-bottom: solid 1px #c0c0c0;
	}
	
	#facets-actions{
		margin-top:		0.5em;
	}
	
	#search-filter,
	#filter-search, #filter-search ul,
	#share-subscribe, #share-subscribe ul
	 {
		list-style:		none;
		margin:			0;
		padding:		0;
	}

	.sidebar h2{
		padding:		0.5em 0 0em 0.5em;
	}
	
	.sidebar h2,
	#search-filter li .bold{
		font-size:		1.2em;
	}
	
	#search-filter {
		overflow: hidden;
		margin: 0 0 0.3em 0;
	}
	
	#search-filter ul{
		list-style: none;
	}
	
	#share-subscribe h3,
	#filter-search h3 {
		font-size:		0.8em;
		margin-bottom:	0.5em;
		border-top:		solid 1px #c0c0c0;
		padding-top:	0.2em;
	}
	
	#search-filter{
		margin-left:		0.7em;
	}
	
	a.facet-section,
	a.facet-ugc{
		display:				block;
		padding-left:			0.5em;
		color:					#333;
		background-image:		none;
		background-repeat:		no-repeat;
	}

	
	.share-section{
		padding-left:			0.5em;
		color:					#333;
	}

	.share-section span{		/* font icon fix */
		position:				relative;
		top:					0.138em;
	}


	/* facet section items */
	
		#filter-search ul {
			overflow:		auto;
			margin-left:	2em;
			margin-bottom:	0.5em;
			display:		none;
		}
		
		#filter-search h4 {
			font-size:		100%;
			font-weight:	normal;
		}
		
		#filter-search h4 a {
			display:				block;
			color:					#333;
		}
		
		
	/* rights info */

	#rights-info {
		margin:					0 10px 10px 10px;
		padding:				4px 4px 4px 25px;
		background-color:		#ccc;
		background-image:		url(../images/icons/sprite.png);
		background-repeat:		no-repeat;
		background-position:	5px -650px;
		border:					solid  1px #c0c0c0;
	}
		