
/* static pages */


/* positioning  */

.sidebar{
	margin-bottom:	1.5em;
	padding:	0 0 0 2em;
}

#staticmenu li a {
	display: block;
	padding: 0;
}


/*
aside h2,
aside h4 {
	text-indent: 1.4em;
}
*/

.static-content {
	margin-bottom: 3em;
}

#content-main{
	width:	100%;
	margin-bottom:	2em;
}

/*
#content-main  ul,
.static-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#content-main  ul li,
.static-content ul li {
	list-style: none;
	padding-bottom: 1em;
}
*/


ul.zero{
	list-style: none;
	margin: 0;
	padding: 0;
}



#content-main  ul li,
.static-content ul li {
	padding-bottom: 1em;
}




/* styling  */

.sidebar{
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 3px 3px 4px #C3C3C3;
}

h1{
	padding-top:	0.5em;
}

.sidebar>h2,
.sidebar>h4{
	margin:			.25em 0 .5em 0;
}



#content-main h1{
	text-align:	center;
}

#content-main iframe{
	display:	block;
	margin:		auto;
}

@media only screen and ( min-width:	48em ){
	
	.sidebar {
		width:			25%;
		float:			right;
		padding:		0 2em 1em 1em;
		margin:			0.5em 0 1em 2em;
	}
	
	
	#content-main h1{
		text-align:	left;			
	}
	
	#content-main iframe{
		margin:	0;
	}
	
}



/* tables */


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered a {
	display:	block;
	cursor:		pointer;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 13px #ccc; 
    -moz-box-shadow: 3px 3px 13px #ccc; 
    box-shadow: 3px 3px 13px #ccc;         
}

.bordered tr:hover {
    background: #e3fffb; /* Hover color could be related to site specific (lightest colour) */
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.6em;
    text-align: left;
    white-space:	normal;    
}
	
.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	font-weight: 600;
	padding-top: 0.8em;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


