
/* static pages */

/*
#staticmenu h3, #staticmenu li {
	border-bottom: solid 1px #c0c0c0;
}

#staticmenu ul {
	margin: 0;
	padding: 0 0 10px 0;
	list-style: none;
}

#staticmenu li a {
	display: block;
	padding: 4px 0;
	color: #333;
}


#column-left {
	float: left;
	width: 324px;
	padding-right: 15px;
	border-right: 1px solid #ccc;
}

#column-right {
	float: left;
	width: 324px;
	padding-left: 15px;
}

*/