	
	.tab-navigation h3, .tab-navigation li {
		display: inline;
		font-weight: normal;
	}
		
	.tab .panel {
		display: none;
	}
	
	
	/* explore-further tabs */

	
   	.tab-navigation h3 a {
   		padding:							0.15em 0.4em;
   		margin-right:						0.5em;
   		margin-bottom:						0.5em;
   		z-index:	20;
   		
   		border:								1px solid #a0a0a0;
		display:							inline-block;
		
		-moz-border-radius-topleft:			5px;
		-moz-border-radius-topright:		5px;
		-webkit-border-top-left-radius:		5px;
		-webkit-border-top-right-radius:	5px;
		
		border-top-left-radius:				5px;
		border-top-right-radius:			5px;
   	}
   	
   	
   	@media only screen and ( min-width:48em ){
   	
		.tab-navigation{
			text-align:			left;
		}
		
		.tab-navigation li {
			margin-right: 		1em;
		}
		
   	   	.tab-navigation h3 a {
   	   		margin-bottom:		0;
   		}
		
	}
   	
   	.tab-navigation h3 a.active,
   	.tab-navigation h3 a:hover {
   		border-bottom: 1px solid #fff;
   	}

   	.tab-navigation h3 a:hover {
   		text-decoration: underline;
   	}
   	
   	.tab-navigation h3 a.active {
   		color: #666;
   	}